[2016-02-10 17:10] boonebgorges opened #1 "[math] not rendering"
https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/setting-up-webwork-test-integration-with-openlabdev-org/#post-35041

[2016-02-10 17:12] boonebgorges commented on #1
Andrew - Can you please share the URL of the problem where you initiated your question? TeX should, generally speaking, be parsed; but there may be something about the `[math]` markup in particular that's causing problems.

[2016-02-10 17:14] boonebgorges opened #2 "Display original problem on question discussion threads"
Andrew - you asked if this was "by design". I wouldn't glorify the decision by saying it was "design". But no, it's not a bug - I just never thought to put it there. It's not a particular problem to add it, though we'll need to have some general discussions about how much WW content to reproduce on the WP side, keeping in mind that WW content mirrored to WP will not be updated if the WW content is

[2016-02-10 17:16] drdrew42 commented on #1
Set 3, problem 3 in WW-Dev

From the debug dump:
<span class="MathJax_Preview">[math]</span><script type="math/tex; mode=display">\frac{7}{3x+4}+\frac{32}{6x^{2}+5x-4} = \frac{x}{2x-1}.</script>

and

Solutions (separate by commas): <span class="MathJax_Preview">[math]</span><script type="math/tex">x =</script>

neither of these are rendering under "Show Problem" - all I see is [math] in their pla

[2016-02-10 17:18] drdrew42 commented on #1
LOL, trying to copy-paste HTML code. Let's try this again:

`<span class="MathJax_Preview">[math]</span><script type="math/tex; mode=display">\frac{7}{3x+4}+\frac{32}{6x^{2}+5x-4} = \frac{x}{2x-1}.</script>`

and

`Solutions (separate by commas): <span class="MathJax_Preview">[math]</span><script type="math/tex">x =</script>`

[2016-02-10 17:26] drdrew42 commented on #1
Actually, I'm not getting the [math] to render anywhere...
Is it just me? I'm on Chrome Version 48.0.2564.109 (64-bit)

[2016-02-10 17:34] drdrew42 commented on #2
Exactly right. We don't want the answer fields to show, but I think we *do* want the actual problem to appear. Perhaps whenever an answer box is stripped, it could be replaced by underscore who's length matches the specified length of the input box. (or anything else that would indicate this is where WeBWorK wants a response - an image, or whatever)

The student asking the question should not need

[2016-02-10 17:54] boonebgorges commented on #1
It looks like `[math]` and `<script type="math/tex">` means that MathJax has *already* converted the content. I'll have to find a way to back-convert it, or to force MathJax to display it.

In my original development, TeX was being properly rendered, but it's possible it had originally been generated in a different way - using `$` or `\(` delimiters or something. Can you let me know how the TeX wa

[2016-02-10 17:55] boonebgorges commented on #2
OK, I will figure something out.

[2016-02-10 19:24] drdrew42 commented on #1
In WeBWorK, TeX is delimited by `\( ... \)` or `\[ ... \]`, but when it's appearing in the dump, there's no delimiters beyond the `<script>` tags. What appears between the `<script>` tags is legit TeX code for the original problem, just without any delimiters.

In the usual TeX files, math expressions are delimited with `$ ... $` or `$$ ... $$`

[2016-02-10 19:31] drdrew42 commented on #1
http://docs.mathjax.org/en/v1.1-latest/model.html

This document describes exactly what we're seeing. It looks like the submission of MathJax data is designed for use in an older version of MathJax (1.1), well behind the current v2.6

[2016-02-10 19:56] boonebgorges commented on #1
Ah, interesting. What version of WeBWorK are you running?

On 02/10/16 13:31, drdrew42 wrote:

[2016-02-10 23:37] drdrew42 commented on #1
2.11, I updated over the winter break.

[2016-02-11 15:27] drdrew42 commented on #1
I think I found the problem.
I see call to load the MathJax script in the header:
`<script type="text/javascript" src="/webwork2_files/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>`
but I'm seeing an error from the JS Console in Chrome:
`http://openlabdev.org/webwork2_files/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full`
**Failed to load resource: the server responded with a

[2016-02-15 17:02] drdrew42 commented on #1
We don't necessarily need a local instance of MathJax (for now?)

Just replace the previous call to load MathJax.js with the following:
`<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config= TeX-AMS-MML_HTMLorMML">
</script>`

[2016-02-15 17:11] boonebgorges commented on #1
Yes, I'm already loading the script from the mathjax.org CDN, but there
are other conflicts on the page, perhaps as a result of the fact that
I'm dumping the contents of the original POST request onto the page. I
will look into it.

On 02/15/2016 11:02 AM, drdrew42 wrote:

[2016-02-18 03:37] #1 closed

[2016-02-18 03:39] boonebgorges commented on #1
The underlying problem was the finickiness of how MathJax needs to be loaded. I was stripping the JS sent from WeBWorK, for security reasons, and attempting to load MathJax in the footer of the page. But it turns out that MathJax doesn't work if it's loaded outside of the document head. I'm now reproducing something close to what WW was sending over, and TeX is now being parsed as expected.

[2016-02-20 21:35] jonasreitz opened #3 "Problem information sometimes doesn't persist through OpenLab login"
That is, after clicking the "Ask for Help" button in WW and logging in to the OpenLab, I'm presented with "You are asking a question about Problem Set #0" and the "Show problem" button reveals an empty box when clicked .  The "Dump of data WeBWorK sends over" box reads:

[code]

I believe the necessary conditions for this behavior are:
1.  Having entered a (wrong) answer into WeBWorK and clicked "

[2016-02-21 17:07] boonebgorges commented on #3
Thanks for the detailed report! There must be something special about
the way WeBWorK packages data for "Ask for Help" after a failed answer
submission. I'll look into it.

On 02/20/16 15:35, jonasreitz wrote:

[2016-02-21 17:09] boonebgorges opened #4 ""Related questions" should show preview of answers"
From @jonasreitz:

[2016-02-21 17:11] boonebgorges opened #5 "Window/tab focus should change when asking question and WP window is already open"
From @jonasreitz:

I'm pretty sure there's nothing I can do on the WP end to make this happen - it's default browser behavior that would have to be overridden by WeBWorK - but I'll double check.

Another possible workaround is to have all requests go to a unique WP URL - for example, by appending a timestamp. I think this would cause the browser not to reuse the existing WP window/tab. But this is

[2016-02-21 17:12] boonebgorges opened #6 "Disable solution input boxes"
From @jonasreitz:

These inputs don't do anything in the WP context, so they should be disabled.

[2016-02-21 17:14] boonebgorges opened #7 "Make sure we're stripping user input properly before storing question data"
We will be storing the problem for display on questions (see #2). In this process, we should be sure that any filled-in answers (values for the `input` elements) have been cleared, at least for the purposes of display, at least in the context where the same question data is used for multiple WP threads.

[2016-02-22 22:35] drdrew42 commented on #3
I am going to speculate that this may only be an issue with the initial HTML authentication, prior to signing into OpenLab-Dev. I've saved the HTML authentication username and password into my browser, and have not run into this issue when OpenLab forces authentication.

[2016-03-08 19:46] boonebgorges opened #8 "Problem "path" must be stored as unique identifier"
Starts with `Library/`. Is a unique identifier for problem, persistent between courses.

[2016-03-08 19:48] boonebgorges opened #9 "Question data needs to be stored in root-site WP post object"
Otherwise it won't be filterable across courses

[2016-03-08 19:50] boonebgorges opened #10 "Parse course name (eg MAT1275) out of URLs and store as metadata"

[2016-03-08 19:52] boonebgorges commented on #10
Is this a convention specific to City Tech or is it general to WeBWorK?

[2016-03-08 20:01] boonebgorges commented on #9
And in fact, we probably should be storing minimal stuff in the implementations. It's becoming clearer through discussions that only the discussion surrounding questions should be local to the implementations; everything else should be part of a central catalog of questions, which will be indexed (at least in part) by the 'path' exposed in #8.

[2016-06-30 11:59] boonebgorges commented on #9
This is done.

[2016-06-30 11:59] #9 closed

[2016-06-30 12:00] boonebgorges commented on #6
Done in the React refactor.

[2016-06-30 12:00] #6 closed

[2016-06-30 12:01] boonebgorges commented on #8
This is done as part of the React refactor. See especially https://github.com/livinglab/webwork-for-wordpress/commit/361aa597315f1718827731c1eddf89dbb3acadf1

[2016-06-30 12:01] #8 closed

[2016-06-30 12:02] boonebgorges opened #11 "Navigating to non-existent problem ID on client site should send 404"
or something like that. It's probably not possible to send a 404 header after the React app has begun to load, but maybe we can do a rewrite or a redirect.

[2016-06-30 12:04] boonebgorges opened #12 "Store user-specific problem data with questions"
Problems are intially populated with the version of the problem linked to the first question associated with the problem. Each question coming from WeBWorK should store the user-specific question data.

[2016-06-30 19:48] boonebgorges commented on #12
This is mostly done.

[2016-06-30 19:48] #12 closed

[2016-06-30 20:15] boonebgorges opened #13 "Problem Text at top of problem page should match current user's version, if available"
Flow will look like this:

- If a user is logged in, and has already posted a question on WWWP for this specific problem while coming from WW, then we should have that user's version of the problem. Show it.
- If a user is logged in, and has just come directly from WW, then we should have the version sent via POST (available via post_data_key). Show it.
- Otherwise, fall back on the "canonical" ve

[2016-06-30 20:19] boonebgorges opened #14 "Store course-specific return links for individual problems"
Most recent mockup has a "Complete WW Problem" link. Where does this go? When on a Client site, one is always in a course context, so the link should go back to the WW course corresponding to the current site. It's not possible to concatenate this URL from available info, so we have to save it when the problem is first created. Each time a question is asked about a problem (indeed, each time an in

[2016-06-30 20:28] boonebgorges opened #15 "Top-level navigation"
See wireframe for initial implementation

[2016-06-30 20:55] boonebgorges opened #16 ""Library" identifier should be stripped from Question problem text"

[2016-07-26 21:32] boonebgorges commented on #7
This is no longer an issue, as inputs are being converted to underscores.

[2016-07-26 21:32] #7 closed

[2016-07-26 21:33] boonebgorges commented on #10
See 8a4fc6f835d364ab21f22d1d82d89d83d8b8766b (stored as a taxonomy term)

[2016-07-26 21:33] #10 closed

[2016-08-06 17:26] boonebgorges commented on #16
This is done.

[2016-08-06 17:26] #16 closed

[2016-08-06 17:27] boonebgorges commented on #15
Baked into the twentysixteen-webwork theme for now.

[2016-08-06 17:27] #15 closed

[2016-08-06 17:28] boonebgorges commented on #14
The data is currently stored, but the link is not shown because of some discrepancies in the way that the mockups distinguished between the "return to WW" link in the context of problems vs questions. (The course link is question-specific, not problem-specific.)

[2016-08-06 17:28] boonebgorges commented on #4
No longer relevant.

[2016-08-06 17:28] #4 closed

[2016-08-06 17:28] boonebgorges commented on #3
This has been rewritten, so I'm going to mark the issue as resolved. If it comes up again, we can readdress.

[2016-08-06 17:28] #3 closed

[2016-08-06 17:29] boonebgorges commented on #2
This is done.

[2016-08-06 17:29] #2 closed

[2016-08-06 17:34] boonebgorges opened #17 "Questions and responses should support TeX input"
It should be possible to reuse the existing code for rendering LaTeX to make this work.

I'll have to write some custom security policies, to avoid React escaping issues. This is more important when the TeX content comes not just from WW problems, but from user input.

We need to decide on start/end delimiters, so I can know what part of a question/response should be parsed as LaTeX. Here are some

[2016-08-06 17:34] boonebgorges opened #18 "Sidebar filters don't work on first visit from WW"
Needs verification.

[2016-08-06 17:40] boonebgorges opened #19 "Use select2 for filter dropdowns"

[2016-08-08 16:00] boonebgorges opened #20 "Explore rendering problems via iframe"
See https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/possible-problem-rendering-solution/ for more.

[2016-08-14 00:26] jonasreitz opened #21 "Problem information doesn't persist through OpenLab login (revisited)"
This is similar to, but not the same as, the prior issue:
https://github.com/livinglab/webwork-for-wordpress/issues/3

Bree reported this (on the OpenLab site), and I'm getting the same behavior.  For the record, here is Bree's report:

I'm seeing the same behavior, on OS 10.11.6 (El Capitan) in Chrome Version 52.0.2743.116 (64-bit) (but once again, only when I am not already logged in to the Open

[2016-08-14 02:07] boonebgorges commented on #17
I opted for the verbose `\begin{math}[TeX goes here]\end{math}` for inline LaTeX and  `\begin{displaymath}[TeX goes here]\end{displaymath}` for blocks of LaTeX. The verbose deliminators decrease the likelihood of false positives. The parsing is written to be pretty flexible, so this decision can be changed in the future.

[2016-08-14 02:17] #21 closed

[2016-08-14 02:38] boonebgorges opened #22 "Input stripping should be case-insensitive"

[2016-08-14 02:41] #22 closed

[2016-08-14 03:41] boonebgorges commented on #21
@jonasreitz Thanks to you (and to Bree) for the details. This should be fixed.

[2016-08-16 16:54] bree-z commented on #21
@boonebgorges Thanks, Boone.  I'm still seeing the same behavior.

I clicked on Ask for Help from this page: [http://mathww.citytech.cuny.edu/webwork2/WW-Dev/11-Circles/1/ ](http://mathww.citytech.cuny.edu/webwork2/WW-Dev/11-Circles/1/ )

I get this log in page: [http://openlabdev.org/wp-login.php?redirect_to=http%3A%2F%2Fopenlabdev.org%3Fwebwork%3D1%26webwork_user%3Dbzuckerman%26remote_class_url%

[2016-08-16 17:15] boonebgorges commented on #21
Thanks for the details, @bree-z. There was a remaining bug that only came up in certain circumstances on openlabdev.org. It should be fixed by d36acd2. Can you please try again?

[2016-08-16 17:21] moui72 opened #23 "In question list, all questions are marked 'unanswered'"
Looking at the [openlabdev webwork site](http://openlabdev.org/webwork-playground/#results): No matter what filter I apply, even showing "only answered questions," all questions are marked as unanswered in the list of questions that are displayed.

The filter does change the set of display questions: "answered" gives me only questions where I have clicked I personally have clicked the "this answer

[2016-08-16 17:23] moui72 opened #24 "Browser back button is not working as expected"

[2016-08-16 17:28] moui72 opened #25 "When viewing a problem, the filters don't work"
When I am viewing a problem, the "answered" and "unanswered" filters return the same set of questions.

[2016-08-16 18:06] boonebgorges commented on #23
Thanks for the detailed report, @moui72. The logic that determined the "answered" highlighting was originally built for the single-problem view, and when the index view was introduced and rewritten, the logic wasn't carried over. I've addressed these issues in the commits referenced above.

Appears to be working as expected on http://openlabdev.org/webwork-playground/.

[2016-08-16 18:13] boonebgorges commented on #24
I'm going to flesh this out with what I assume you mean in the ticket title:

a. Back button works properly when navigating between single-question and question index. Eg: from http://openlabdev.org/webwork-playground/, click a question header; the back button will return you to the main page.
b. Back button *does not* work with index filters. Eg, visiting http://openlabdev.org/webwork-playground/

[2016-08-16 18:44] bree-z commented on #21
Thanks, Boone.  I don't have the same "Loading" text but now I don't see any WW problem.  From the same WW source URL as above, when I click on Ask for Help, I'm redirected to login here: [http://openlabdev.org/wp-login.php?redirect_to=http%3A%2F%2Fopenlabdev.org%2Fwebwork-playground%2F%3Fwebwork%3D1%26webwork_user%3Dbzuckerman%26remote_class_url%3Dhttp%3A%2F%2Fmathww.citytech.cuny.edu%2Fwebwork2%

[2016-08-16 19:05] boonebgorges commented on #25
This was due to an unrelated JS error, which was short-circuiting the resetting of the application state. It's working properly now on openlabdev.org

[2016-08-16 19:15] boonebgorges commented on #21
What a nightmare. I've made another attempt to make this work properly. Could you please turn your eagle eye to it again? Thanks for your patience.

[2016-08-16 19:17] moui72 commented on #25
Great! I'll check again in a bit.

On Tue, Aug 16, 2016, 3:06 PM Boone Gorges <notifications@github.com> wrote:

[2016-08-16 19:27] moui72 commented on #24
Thanks for picking up the slack on this, I meant to put a comment in but
screwed it up somehow. Your description sounds right. Might be useful also
or instead to have the filter breadcrumbs be interactive and include a
clear filters button up there.

On Tue, Aug 16, 2016, 2:13 PM Boone Gorges <notifications@github.com> wrote:

[2016-08-17 19:36] bree-z commented on #21
Thanks, @boonebgorges . Looks good!

[2016-08-17 19:38] boonebgorges commented on #21
Whoop!!

[2016-08-19 01:40] boonebgorges commented on #24
Thanks, @moui72 !

I'm going to add some additional test info passed along by Andrew. Essentially, it boils down to the directory filters not be reset when hitting Back from a single problem page:

[2016-08-21 19:49] jonasreitz opened #26 ""Respond" button takes me to main WW site / list of all questions"
The Respond button:  instead of taking me to the response box for the particular question (where I clicked it), it takes me to what seems to be the main list of  questions, sorted by "Recent Activity".  Here are  details:

In webwork I clicked "Ask for Help" here:
http://mathww.citytech.cuny.edu/webwork2/WW-Dev/1-RationalExpressions/2/?user=jreitz&effectiveUser=jreitz&key=ljrTUsYrD5tNVd2LFQfuCqrZS

[2016-08-21 21:16] jonasreitz commented on #17
Thanks for opening this conversation, Boone - I think it's an important one.  A couple of notes:

a) in traditional LaTeX, the delimiter is just a $, as in `$[TeX goes here]$` for inline math stuff, and double dollar sign `$$[TeX goes here]$$` for math typeset on its own line.

b) In the existing WP LaTeX plugin, there are two options:

Although "I like the original version best" (as a traditional

[2016-08-22 15:09] boonebgorges commented on #17
I agree that the $ and $$ delimiters are the most elegant. There are two
escaping issues:

a. If you have dollar signs in regular text ("Hey Jonas, you owe me
$15"), it will start rendering LaTeX.
b. If you have dollar signs inside LaTeX, it'll close the LaTeX renderer.

b. is pretty straightforward - we just require that dollar-sign literals
are slashed ("Jonas owes Boone $x = \$1 \cdot 15")

We

[2016-08-22 17:40] moui72 commented on #17
I don't feel like the need to escape $ in arbitrary contexts is worth the adherence to traditional markup, personally. What about something like [$ maths $] and
[$]
Lots of maths
Many lines
[/$]
It's idiosyncratic, but reminiscent of the original, and less verbose than the actually LaTeX solution Boone already implemented (which in my opinion should stay in addition to a shorthand version).

[2016-08-22 17:45] boonebgorges opened #27 "`setCollapsed` action needs bulk version"
It takes a long time to run through each one separately.

[2016-08-23 01:30] #27 closed

[2016-08-23 17:35] boonebgorges commented on #26
Thanks for the detailed description, @jonasreitz !

I believe I found the root cause of the problem. Could you test the behavior again on http://openlabdev.org/webwork-playground/?

[2016-08-23 18:09] jonasreitz commented on #26
Seems to work fine now - thanks, Boone!

[2016-08-23 18:10] boonebgorges commented on #26
Thanks for testing!

[2016-08-23 18:10] #26 closed

[2016-08-28 18:42] moui72 opened #28 ""like" button has white background"
The  button containing the font-awesome "fa-heart" icon has a white background, which looks wrong for responses, since the response list has a light grey background.

I think the issue is the following CSS rule:

(I can't blame a file since I'm looking at concatenated files so everything is in `app.css`).

[code]

[2016-08-28 18:43] moui72 commented on #25
looks fixed!

[2016-08-28 18:44] moui72 commented on #23
looks right now

[2016-08-29 20:21] boonebgorges commented on #25
Thanks for verifying!

[2016-08-29 20:21] #25 closed

[2016-08-29 20:21] boonebgorges commented on #23
Thanks, @moui72 !

[2016-08-29 20:21] #23 closed

[2016-08-30 13:43] boonebgorges commented on #17
During our recent phone conversation, we decided to keep `\begin{math}...\end{math}` and `\begin{displaymath}...\end{displaymath}` as the official delimiters. We also decided to add non-advertised support for `$latex...$`.

[2016-08-31 03:00] #28 closed

[2016-08-31 03:01] boonebgorges commented on #28
Good call! Thanks for the ticket.

[2016-08-31 20:07] boonebgorges opened #29 "Replies that are Answers should be marked as such"
See the latest mockup.

[2016-09-12 19:06] moui72 opened #30 "replying to a question creates blank reply"
Trying to [reply to a question][1] as a faculty member or a student is currently not working for me. The content of my response field is not cleared, and an empty reply is generated.

Behavior noticed with Win7, Chrome 52+

http://openlabdev.org/webwork-playground/#/problem/local/AddRationalExpressions/diff-mono-easy.pg/question-11062

[1]: http://openlabdev.org/webwork-playground/#/problem/local/

[2016-09-12 19:08] moui72 opened #31 "questions and replies should be editable"
I realize that this is likely a feature that is already in the pipeline, and that it may be something that we don't have time to implement for the current version, but I just thought I'd make an issue so we don't forget about it.

I'd imagine that questions and replies should be editable both by their authors and by the relevant faculty

[2016-09-12 19:09] boonebgorges commented on #30
Can you check to see if there's anything in your JS console? When you
refresh the page, has the response been posted?

On 09/12/2016 02:06 PM, Tyler J. Peckenpaugh wrote:

[2016-09-12 19:18] moui72 opened #32 "Problems containing html and css are rendered as text"
[Problems containing html and css](http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_8b7b9cdad28720e1a57cb607f96bcfeb#/problem/local/ParabolaVertices/vertex-CtS-walkthrough.pg) are rendered as text rather than the html and css being interpreted by the browser. Angled brackets are transformed to html entities (`&lt;`, `&gt;`).

![misrendered htmlcss](https://cloud.githubuser

[2016-09-12 19:27] moui72 commented on #30
I don't see anything relevant notably wrong but I am attaching the log for your perusal
[olwebwork.blankreply.jsconsole.txt](https://github.com/livinglab/webwork-for-wordpress/files/468178/olwebwork.blankreply.jsconsole.txt)

Nope :( here's what I see
![blankreply](https://cloud.githubusercontent.com/assets/3885628/18449406/0792441e-78fd-11e6-8b1b-2445a9d4585e.png)

[2016-09-12 19:36] moui72 opened #33 "about and help page should be accessible"
not sure if this is using SPA-style view population or if the about and help pages should have their own URLs and simply aren't created yet, but currently all the menu links resolve to the homepage

I am sure we're aware of this, but I am making an issue so I'll know when content is added and I can take a look :)

[2016-09-12 19:38] boonebgorges commented on #32
Thanks for the report. We need to come up with a whitelist of markup
that is going to be interpreted, with the rest being stripped. For
security and aesthetic reasons, we can't allow it all through blindly.

On 09/12/2016 02:18 PM, Tyler J. Peckenpaugh wrote:

[2016-09-12 19:39] boonebgorges commented on #33
Yup, no content has been created for these pages yet. Thanks for
creating the ticket :-D

On 09/12/2016 02:36 PM, Tyler J. Peckenpaugh wrote:

[2016-09-12 19:47] moui72 opened #34 "after asking a question, reply field is in preview mode"
after I asked a question about a problem, if I go to reply to myself (admittedly this may be an edge use case) the reply field is grayed out because I am in preview mode. I have to click 'edit' to enter text. This is a bit unintuitive.

![response preview](https://cloud.githubusercontent.com/assets/3885628/18450242/35af5442-7900-11e6-9ad2-efd370ef2c45.png)

WeBWorK url: http://mathww.citytech.cuny

[2016-09-12 20:41] drdrew42 commented on #32
Just to clarify, which set and problem number is this coming from?

[2016-09-12 20:47] boonebgorges commented on #32
URLs from both WW and from WP would be helful in this case (and most cases!)

On 09/12/2016 03:41 PM, drdrew42 wrote:

[2016-09-12 20:59] moui72 commented on #32
Understood. I'll provide URLs when I get home in an hour or so.

On Mon, Sep 12, 2016, 4:47 PM Boone Gorges <notifications@github.com> wrote:

[2016-09-12 23:14] moui72 commented on #32
I added URLs to the original post and repeat them below

webwork url: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ParabolaVertices-CtS/1/?user=tpeckenpaugh&effectiveUser=tpeckenpaugh&key=yTNvez9EZ3wp5TWXvb1Gd1t6H7gmNOZb

openlabdev url: http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_8b7b9cdad28720e1a57cb607f96bcfeb#/problem/local/ParabolaVertices/vertex-CtS-walkthrou

[2016-09-12 23:48] moui72 commented on #17
` \begin{math}...\end{math}` and `\begin{displaymath}...\end{displaymath}` are working nicely.

looks like `$latex...$` isn't in yet (or else it's not working, let me know if it should be and I can gather details)

[2016-09-13 00:17] moui72 opened #35 "Wrong "most votes" sort for question list"
Most votes sort is the same as most replies sort

To recreate: http://openlabdev.org/webwork-playground
* From homepage, filter by course -> WW
* Sort dropdown -> most votes

![sortorder](https://cloud.githubusercontent.com/assets/3885628/18457334/de591acc-7925-11e6-957c-2f54debdd395.png)

[2016-09-13 00:28] moui72 opened #36 ""ask a question" form should not suggest reviewing non-existent questions"
When asking a question about a problem that has no existing questions, the form still suggests that you should review other questions first. That text should be hidden in that case.

URL (provided no one has asked a question about this problem since I made this post)
http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_8abb64930358afa5cb9b0e67dfc42ff1#/problem/local/ComplexFra

[2016-09-13 00:59] boonebgorges commented on #17
Nope, not implemented yet, but thanks for the reminder :) I will go
through this and other new issues in the next day or two.

On 09/12/2016 06:48 PM, Tyler J. Peckenpaugh wrote:

[2016-09-13 16:31] bree-z commented on #32
Would it be useful to add URLs here if we encounter any additional instances of this problem, other than what Tyler reports above?

Thanks!

[2016-09-13 16:36] boonebgorges commented on #32
Hi Bree - Sure, feel free to list additional links if they demonstrate
different kinds of parse failures (ie, different tags)

On 09/13/2016 11:31 AM, bree-z wrote:

[2016-09-13 16:49] bree-z commented on #32
Ok, will do if I see any.  Thanks!

[2016-09-13 19:05] boonebgorges commented on #30
Thank you for the additional details!

This break was due to some work I'd done to implement the Preview functionality. Previously, I'd been storing state for the question form and the response forms in different ways. Once I merged the code for rendering the two different form types, response form state was in limbo. I did some refactoring and things are working properly now.

Ready to test on op

[2016-09-13 19:37] boonebgorges commented on #34
Good catch! Should be fixed by 52264f9. Ready for testing.

[2016-09-13 19:43] boonebgorges commented on #36
Good call. Fix is ready to test.

[2016-09-13 19:45] boonebgorges commented on #19
I went with a different library, but this is done.

[2016-09-13 19:45] #19 closed

[2016-09-13 20:39] boonebgorges commented on #17
`$latex...$` is now implemented and ready to test. Should work in preview mode as well.

Since there's no explicit way to say whether this syntax is intended to display as block vs inline, I used the following heuristic: in `$latexFOO$`, if `FOO` contains any line breaks (`\n`), I assume that display mode is intended.

[2016-09-14 00:59] boonebgorges commented on #35
I think this is sorted now (no pun intended). Ready to test on openlabdev.org/webwork-playground

[2016-09-14 01:03] boonebgorges commented on #24
This is roughly half fixed. The really weird behavior that was causing filters not to be reset when navigating using the back button between the single-question view and the index now appear to be resolved.

This is quite a bit harder to implement, but less important for the time being, I think. Let's handle it in a future release.

[2016-09-14 01:05] boonebgorges commented on #18
It looks like this is working as expected now. @moui72 I think you originally reported this - could you verify that it's working so that we can close this out?

[2016-09-14 01:21] #29 closed

[2016-09-14 17:23] moui72 commented on #34
Yes, looks good!

I noticed a related issue, though: if I submit a reply from preview mode, the field gets cleared but stays in preview mode, so I then have to click edit to reply again. I think it should go back to edit mode. Admittedly this is not likely to matter most of the time, but I just think it looks better :eyeglasses:

let me know if you would prefer a new issue for this

![submitreplyi

[2016-09-14 17:24] moui72 commented on #36
yes, looks good!

[2016-09-14 17:26] moui72 commented on #35
yep, looks right to me now :+1:

[2016-09-14 17:29] moui72 commented on #31
To consider:

perhaps replies should also be deletable by their authors and by the relevant faculty.

also, questions with no replies should maybe be deletable by their authors, and questions in general should likely be deletable by the relevant faculty

[2016-09-14 17:35] moui72 commented on #24
OK. Confirmed that (a) above is working.

Related to (b) for a future release is that it might be nice for the filter state to be remembered (that is, you returned to the same list you navigated away from) when navigating back to the question list from a question detail page.

[2016-09-14 17:37] moui72 commented on #18
the filters work on first visit

[2016-09-14 17:51] moui72 commented on #17
`$latex...$` works both for inline and block, in preview and for posted questions and "what have you tried"

I've just noticed that none of the latex modes work right for posted replies, although they work fine when previewed. See screenshots below.

In a reply, the text `no because $latex r = \frac{x}{10}\% $` is rendered after posting as

[code]
The same text/formula works normally in a question

[2016-09-14 18:37] boonebgorges commented on #34
Good catch! I hadn't thought of that. I've made the change.

[2016-09-14 18:37] #36 closed

[2016-09-14 18:37] #35 closed

[2016-09-14 18:38] #18 closed

[2016-09-14 18:39] boonebgorges commented on #17
Oy, thanks, @moui72. In case you are curious what I'm up against here: https://teleogistic.net/2016/09/08/handling-latex-in-wordpress-and-react-js/

I'll take a look.

[2016-09-14 18:44] boonebgorges commented on #17
OK, should be fixed by efa4052. Ready to test.

[2016-09-14 20:27] bree-z commented on #32
Hi Boone - Not sure 8if this is helpful, but here's a problem with ol and ul tags:

openlabdev URL: http://openlabdev.org/webwork-playground/#/problem/local/CompoundInterest/different-rates.pg/question-11108

WW URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CompoundInterest/1/?user=bzuckerman&key=OWiBHhKJsOALZni3oiA9rIJBanglOd2k&effectiveUser=bzuckerman

[2016-09-16 01:32] moui72 commented on #32
Here's my best effort to categorize the problems with special rendering needs

type  | description | ol url | ww url
:-----|:------------|:-------|:------
image | problem contains an image | [GraphingSineCosine](http://openlabdev.org/webwork-playground/#/problem/local/GraphingSineCosine/identify-amplitude.pg/question-11071) | [GraphingSineCosine](http://mathww.citytech.cuny.edu/webwork2/WW-Dev/Gra

[2016-09-19 18:14] boonebgorges opened #37 "Ensure that subproblems don't have their problem number sanitized to an int"
See https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/webwork-ol-testing-discussion/page/2/#post-39032

[2016-09-20 02:42] boonebgorges commented on #32
I've got most of this working. Here are some examples:

- scaffolding is functional (I think?) though needs design work: http://openlabdev.org/webwork-playground/#/problem/local/ParabolaVertices/vertex-CtS-walkthrough-fractions.pg/question-11080
- Most generic markup is now handled, though it's based on a whitelist, so it's likely that we'll come across tags that I have missed. See eg http://openl

[2016-09-20 13:40] drdrew42 commented on #32
These are all working for me - with one small exception.

For the third bullet: when this question is pulled over to the OL site, it seems as though the "sin(x)" and "cos(x)" are being stripped from the first question below the graph.

What should appear is "Does this graph have the shape of \sin(x) or \cos(x) ? ___"
But what's appearing instead is "Does this graph have the shape of  or  ? ___"

[2016-09-20 17:01] boonebgorges commented on #32
Thanks @drdrew42 - I will look into it.

On 09/20/2016 08:40 AM, drdrew42 wrote:

[2016-09-20 18:40] boonebgorges opened #38 "jQuery listeners should be unhooked on `componentDidUnmount`"
See #32

Otherwise, when clicking around, you'll get double bindings (or none at all, because of the `document.webwork_initialized` flag).

It may also be better here to switch to event delegation, since it'd mean just a single listener for each `FormattedProblem` element.

[2016-09-20 18:41] boonebgorges opened #39 "Images should be imported to WP at the time of problem import"
These images are specific to the user-problem combo (they may be generated with personalized values) so there could be lots of them.

Tasks to complete:

- [x] At the time of question creation, import images and swap out URLs
- [x] Write a script that goes back and imports images for existing posts
- [x] Ensure that if the problem text used as the "primary" text at the top of the thread contains u

[2016-09-20 18:43] boonebgorges opened #40 "Ensure that scaffolded problems are maximally "open" on import"
Markup that comes from an admin WW account will have all of the problems labeled as "open". Make sure this is the case with student accounts, too. If it's not, make it so (I assume it's handled by specific CSS classes or something like that).

cc @moui72, who I think added this to his testing script :)

[2016-09-20 18:44] boonebgorges opened #41 "Problem title should contain problem set info"
The format we decided on is:

    Problem: [problem set name]

instead of "Another math problem" or whatever we currently have.

[2016-09-22 15:17] moui72 opened #42 ""reply" link is visible when not logged in to openlab"
When I look at the openlab-ww site but I'm not logged in to the OL, there is a "reply" link listed under each reply, which simply resolves to a blank hash (i.e. http://openlabdev.org/webwork-playground/[?QUERY]#). The reply form is (correctly) not visible

I don't think this reply link should be visible.

![notloggedin reply](https://cloud.githubusercontent.com/assets/3885628/18754259/0e0e5812-80b

[2016-09-22 15:20] moui72 commented on #30
this is fixed! I am not sure if you want me closing issues or not. let me know.

[2016-09-22 15:23] boonebgorges commented on #42
Good call - thanks for the report and the screenshot.

[2016-09-22 15:24] boonebgorges commented on #30
If you opened it, and it looks fixed to you, then go ahead :)

[2016-09-22 15:24] #30 closed

[2016-09-22 15:30] moui72 commented on #32
Looking good for the ones I've gotten to.

One comment about the scaffold ones (e.g. http://openlabdev.org/webwork-playground/#/problem/local/ParabolaVertices/vertex-CtS-walkthrough-fractions.pg/question-11080), I wonder if we should/could change the yellow background of the section headers to be either blue or black (with white text) so it fits in a bit better.

I include the css suggestion below

[2016-09-24 18:24] boonebgorges commented on #41
This is ready for testing.

[2016-09-24 18:24] boonebgorges commented on #42
Ready for testing.

[2016-09-26 22:16] bree-z opened #43 "Problem won't load on WW-playground site when logged into WW as student user"
This is similar to but slightly different from #32.  I log into WW as student1, go to a problem and click Ask for Help.  I log into openlabdev as teststudent and I just see “Loading…”

webwork URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ParabolaVertices-CtS/1/?key=L4c46MYurbvgOXuEFiK06cO1Saicn55C&user=student1&effectiveUser=student1

openlabdev URL: http://openlabdev.org/webwork-playgroun

[2016-09-27 02:21] #38 closed

[2016-09-27 03:13] boonebgorges commented on #43
Thanks for the detailed report, @bree-z !

@drdrew42 This problem is being caused because the source problem doesn't contain the "library ID" in the problem text. I am using this ID to individuate problems on the WP side, so it's critical that it exist. The code that I'm using to parse out the problem is here: https://github.com/livinglab/webwork-for-wordpress/blob/fb1653c68f398e07730a505ab88abbfa

[2016-09-27 03:34] boonebgorges commented on #32
@moui72 - Yeah, I agree that somithng should be done about the colors :) Let's talk this over briefly during tomorrow's meeting.

[2016-09-27 13:35] drdrew42 commented on #43
Whew. Okay, I've found the configuration setting that enables the display of the problem path for all users, not just instructor accounts. This should now be resolved.

[2016-09-27 16:47] bree-z opened #44 "Math notation not rendering consistently in problems on OLdev"
When I Ask a Question from WW, the math notation doesn’t render on the the OLdev site, only the plain text part of the problem appears (e.g. “Simplify the complex fraction” appears but the fraction doesn’t.) This happens when logged in as student or faculty user.

![cantseeproblem_nopreviousquestions](https://cloud.githubusercontent.com/assets/7189824/18883076/d792072c-84af-11e6-8009-11520fba9096.

[2016-09-27 16:56] moui72 commented on #41
looks right to me

[2016-09-27 16:58] moui72 commented on #43
seems to be working

[2016-09-27 17:01] moui72 commented on #42
it's gone! :dash:

[2016-09-27 17:01] #42 closed

[2016-09-27 17:02] boonebgorges commented on #43
Thanks!

[2016-09-27 17:02] #43 closed

[2016-09-27 17:02] boonebgorges commented on #41
Gracias

[2016-09-27 17:02] #41 closed

[2016-09-27 17:10] moui72 commented on #17
seems to be fixed

[2016-09-27 17:18] #17 closed

[2016-09-28 02:21] boonebgorges commented on #44
Thank you so much for the detailed report, @bree-z. I tracked down the problem to some work I did the other day in support of just-in-time problems. In order to support them, I needed to strip `script` tags more aggressively from WW content in certain cases. But I was *too* aggressive, in a way that broke LaTeX import. This should be fixed now, and is ready for testing.

[2016-09-28 14:10] bree-z commented on #44
Thanks, @boonebgorges.  I'm still not seeing the LaTeX come over in some instances.  In the examples below, it was missing in the problem at the top, before I completed the question fields, but appeared below after I asked a question.

**WW:** http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ComplexFractions-Method2/16777216/
**OLdev:**  http://openlabdev.org/webwork-playground/#/problem/local/Comp

[2016-09-28 14:29] boonebgorges commented on #44
Thanks for the screenshots, @bree-z. I've looked into it, and I believe what you're seeing here is the result of an old import that was botched in the manner described above. The problem text that appears at the top of the single-problem view - as seen in your most recent screenshot - is generated as follows:

    if ( this is a post that comes directly from WW ) {
        show the problem text di

[2016-09-28 14:58] bree-z commented on #44
Aha, got it.  Thanks for the explanation, @boonebgorges.

I tested as student1/teststudent with a problem that had no previous questions on the OL, and viewed it as teststaff.  Everything looks good!

WW: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ShiftingParabolas/5/?effectiveUser=student1&user=student1&key=rk3VEJORElEE07y9aqqcbQ8SqFM64MLn
OL: http://openlabdev.org/webwork-playground/#/probl

[2016-09-28 15:08] boonebgorges commented on #44
Sounds perfect, @bree-z. Thank you!

[2016-09-28 15:08] #44 closed

[2016-09-28 17:25] bree-z commented on #40
It looks like these problems are not fully open for student accounts.  I'm only able to see the first step of a problem on OLdev.  If I answer the first step correctly in WW and move on to step 2, after I Ask a Question, I still only see the first part on OL.

The screenshot below is after I'd answered step 1 correctly in WW, and moved on to step 2.

![scaffolded_step1only](https://cloud.githubuse

[2016-09-28 17:27] moui72 commented on #11
Here's an example that is hanging:
OL: http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_8cfea9275b0f628b21d240d6aa45f609#/problem/

Generated by clicking "ask for help" from here:
http://mathww.citytech.cuny.edu/webwork2/WW-Dev/AddRationalExpressions2/?key=JgtP3lHcqR9wv9lylHcAL5pMV6WnBsNg&effectiveUser=student2&user=student2

see also: https://openlab.citytech.cuny.edu/gro

[2016-09-28 17:35] moui72 opened #45 "when marking a question as answered, question header does not change until reload"
![olww-markanswer-qheader](https://cloud.githubusercontent.com/assets/3885628/18925398/daaaba9e-8581-11e6-9e59-0ae454105dd7.png)

Super minor issue.

Related to #29 -- when a reply is marked as an answer it is immediately marked as such. but the question's header does not change from "answered" to "unanswered" until next page load.

e.g. http://openlabdev.org/webwork-playground/#/problem/local/Add

[2016-09-28 17:37] moui72 opened #46 ""this answered my question" permissions"
If I am logged in as teststudent and I am viewing a question posted by someone else, I can check and uncheck the "this answered my question" box. this will toggle the blue bar on the left, but have no persistent effect.

I think the check boxes should be disabled if I don't have permission to manipulate them

e.g. http://openlabdev.org/webwork-playground/#/problem/local/GraphingSineCosine/identify

[2016-09-28 17:52] moui72 opened #47 "ability to "clear" filters"
There is no way to reset a filter to "off" state -- you can only change its value.

For example: if I filter to a particular problem set and then I want to go back and look at all unanswered questions, I have to navigate to "home" to clear the problem set filter.

It might be nice to have a "show all" for the higher level filters (problem set, section, course) like there is for answered/unanswered

[2016-09-28 17:53] moui72 opened #48 ""my questions" filter?"
A nice feature for the future my be to have an option to look at the questions that the active user has asked or responded to.

[2016-09-28 18:04] moui72 opened #49 "question detail has multiple questions, titles are vacuous links"
I'm unsure of the intended functionality here, but I think it's currently a little confusing.

If I am looking at a question which is about a problem which also has other questions, all of that problem's questions will be visible. This seems reasonable.

The URLs for each question are different, and when loaded from a different page, will cause the view to scroll to the appropriate question, which

[2016-09-28 18:19] moui72 opened #50 ""Main" problem differs slightly from embedded version"
This is a minor issue.

Questions that have a drop-down field for the response entry are rendered differently at the top of a question detail page vs. when embedded within a question.

Main problem renders the dropdown.
![dropdown-mainprob](https://cloud.githubusercontent.com/assets/3885628/18926572/5590db68-8586-11e6-83b1-6424463f7cd4.png)

Embedded problem renders just the options in sequence as

[2016-09-28 18:42] boonebgorges commented on #40
@bree-z Thanks for verifying this.

I've just reproduced. The incomplete steps are represented by empty `<div>` elements in the markup sent over by WW. That means that the full problem data is not available to OL. There's nothing we can do to work around this for the moment.

One mitigating factor - and maybe a feature rather than a bug! - is that the problem text will be frozen in time, represent

[2016-09-28 19:42] moui72 commented on #40
as a quick note, your description is correct, but the first person to ask a question will lock their version of the problem in as the "main" problem (displayed at the top). Subsequent askers will have different versions embedded in their questions, but the "main" one will always be the first. Unless this changes depending on the OL account you're logged in with?

I've also just noticed that the La

[2016-09-28 20:02] moui72 opened #51 "filters not visible on android 7 / chrome 53+"
The whole "explore questions box" is simply omitted (it does not appear above or below the list of questions)

Nexus 5X, Android 7, Chrome 53+ (also FF 49)

ol-url: http://openlabdev.org/webwork-playground/

![image](https://cloud.githubusercontent.com/assets/3885628/18930015/625caec2-8594-11e6-88d1-c1d1a937af85.png)

[2016-09-28 20:17] boonebgorges commented on #51
I believe it should appear when clicking the magnifying glass.

On 09/28/2016 03:02 PM, Tyler J. Peckenpaugh wrote:

[2016-09-28 20:18] moui72 commented on #51
so it does! ;D

[2016-09-28 21:40] bree-z commented on #40
Hi @boonebgorges and @moui72 - just a note about the LaTeX in the section headings not being rendered correctly -- this is something I did, but didn't have a chance to put in a ticket earlier.  What happened is this:

When I clicked on Step 2 (“Divide off the coefficient of x^2”) to expand it, I happened to click exactly on the LaTeX part of the question.  First, it disappeared altogether, and the

[2016-09-29 02:22] boonebgorges commented on #45
Good catch! Should be fixed now on openlabdev.org.

[2016-09-29 02:34] boonebgorges commented on #46
Good catch. This was due to a typo in the filter that maps OpenLab filter types onto certain WWOL permissions. Fix is ready to test.

[2016-09-29 02:41] boonebgorges commented on #47
Good call. I've added Show All to each filter. It's slightly awkward, because selecting Show All will result in the "Select Course" etc filter value being shown (instead of "Show All"). Play with it and see if it makes sense to you. If it feels weird, we can ask Jenna for help.

[2016-09-29 02:42] boonebgorges commented on #48
+1

[2016-09-29 02:45] boonebgorges commented on #49
Heh, I was wondering whether anyone would notice this.

There's no scrolling when zoomed in all the way because, if you're clicking on the question title, then there's nowhere to scroll to :) But even in these cases, it's helpful to have a permalink to a question, in case you want to share that link with someone else. Maybe, when zoomed in all the way, the "A Question from..." text would *not* be

[2016-09-29 02:57] boonebgorges commented on #50
Ah, I didn't have `select` and `option` on the markup whitelist for problem text. They've been added. Ready to test - make sure you test with a *new* question, as anything already saved in the database will already have had these tags stripped.

[2016-09-29 03:07] boonebgorges commented on #11
Thanks for updating this, @moui72. There are really two different kinds of situations here:

1. A user enters a nonsense URL: http://openlabdev.org/webwork-playground/#/problem/foo This will lead to a bunch of weird "null" stuff

2. A user clicks Ask For Help from a space other than a specific question.

Your observation is about item 2. In this case, I don't think we should 404. Ideally, we'd rou

[2016-09-29 03:14] boonebgorges commented on #40
@moui72 See https://github.com/livinglab/webwork-for-wordpress/issues/44#issuecomment-250183219 for some explanation of how this works.

I'm going to break off discussion of the LaTeX stuff into another thread.

[2016-09-29 03:18] boonebgorges opened #52 "LaTeX delimiters [` and `] ?"
See https://github.com/livinglab/webwork-for-wordpress/issues/40#issuecomment-250277642 and subsequent discussion.

It appears that some content in WeBWorK uses [{backtick}... {backtick}] as LaTeX delimiters (backtick is a special character on GitHub and I can't figure out how to escape it). WeBWorK appears to handle this rendering natively, sending the delimiters intact in the POST data it sends

[2016-09-29 18:07] bree-z commented on #46
This is fixed.  I no longer see the checkbox to mark as answered when viewing another user's question, if logged in as a student.  I can see and check it when logged in as testfaculty.

[2016-09-29 18:32] bree-z opened #53 "Cannot Ask a Question on Mobile"
I'm on iOS 10/Safari.

After clicking Ask a Question from WW, the post_data_key param does not appear to be passed.  I just end up at http://openlabdev.org/webwork-playground/ with nowhere to ask my question.

WW URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CompoundInterest/1/?key=esvrg7KNPgvyEbWH4MWwA3e9Bu4UeZeN&user=student1&effectiveUser=student1

cc @moui72

[2016-09-29 18:34] bree-z commented on #53
And not sure if the screenshot is helpful here, but here it is:

![mobileaskaquestion](https://cloud.githubusercontent.com/assets/7189824/18967050/bcf1ba36-8651-11e6-894a-df32459bba6f.PNG)

[2016-09-29 18:40] boonebgorges commented on #46
Thanks!

[2016-09-29 18:40] #46 closed

[2016-09-29 18:54] bree-z commented on #53
Sorry!  Just realized I pasted the wrong URL.  I tested this twice - once with the student11 account and a second time with bzuckerman.  Here's the URL from the second mobile test:

http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CompoundInterest/1/?effectiveUser=student1&user=bzuckerman&key=a1MIK1czBY6diDBlKALe2mPYZL4rtdI7

But it appears I was bzuckerman "acting as" student1.  I'll test again fr

[2016-09-29 19:05] bree-z commented on #53
No, I get the same result.  I tried again as student1 on this problem:

http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CompoundInterest/1/?key=0UHRERBK33suHrGIRbFavQs3S9VmITL3&user=student1&effectiveUser=student1

One more thing though, I did get a warning about OLdev as a possible phishing site.  I ignored the warning, but just fyi in case that's part of the problem.

[2016-09-29 19:06] boonebgorges commented on #53
I've reproduced, but only on iOS Safari, not any Android browser. I'm
guessing it's due to the phishing notice. I'll look into it.

On 09/29/2016 02:05 PM, bree-z wrote:

[2016-09-29 19:56] moui72 commented on #50
I can't find any other questions with a dropdown.

@drdrew42 confirm/deny?

[2016-09-29 19:57] moui72 commented on #49
your reasoning makes sense to me -- we don't necessarily have to make a change. I mostly am just trying to think of ways to differentiate list views from detail views and this was one that I thought might work. I agree that having access to the permalink is necessary.

[2016-09-29 19:59] moui72 commented on #11
@boonebgorges yeah, I think it's fine as is for now with regard to 2.

[2016-09-29 20:00] moui72 commented on #45
looks good now =]

[2016-09-29 20:00] #45 closed

[2016-09-29 20:04] moui72 commented on #47
I think it's good now, no complaints. Maybe @bree-z could also take a quick look and see what she thinks?

[2016-09-29 20:04] boonebgorges commented on #53
I believe I've confirmed that it's the "phishing" notice. @bree-z, please try the following:

- Go to your iOS Settings > Safari
- Under Privacy and Security, uncheck Fraudulent Website Warning

Then try the WW-OL handshake again. It should work.

What must be happening is that Safari is discarding the contents of the POST request when it inserts the warning.

If it's working for you with the Sett

[2016-09-29 20:05] boonebgorges commented on #49
I totally agree that it could be made clearer. Let's put this on a Jenna list and get some feedback.

[2016-09-29 20:07] bree-z opened #54 "After filtering for a problem set, question title links must be clicked twice to view question detail"
Here's what I did:

- I filter for a problem set (e.g. AddRationalExpressions2)
- When I try to click on the title of a question ("Question from Test Student") to view the question detail, nothing happens.
- If I click again, then I can view the question detail.  Or, if I click something else first, like "View my Problem" the link works as expected.

I'm using OSX/FF 49.0.1 and Chrome 53.

[2016-09-29 20:08] drdrew42 commented on #50
This may be the only one in the sets I've loaded into WW-Dev. Let me double-check.

[2016-09-29 20:10] drdrew42 commented on #50
I've added a fifth problem to the GraphingSineCosine set - it also uses dropdown and has a different pathID.

[2016-09-29 20:15] bree-z commented on #53
Ok, looks good, thanks!

Closing this one.  :)

[2016-09-29 20:15] #53 closed

[2016-09-29 20:28] bree-z commented on #47
I agree that it's slightly awkward - I think it would be better to have some visual reminder that users have filtered for "All".  But this is better than no "Show All" option, so maybe this is something to improve in the next iteration?

[2016-09-29 20:33] boonebgorges commented on #54
Thanks for the details. This was due to a bug in the way the mobile menu toggle worked (the magnifying glass). It should be fixed now. Please test both the functionality you've described here (the double clicks) and also do a sanity check on the magnifying glass filters while on mobile.

[2016-09-29 20:45] moui72 commented on #50
Thanks!

On Thu, Sep 29, 2016, 4:10 PM drdrew42 <notifications@github.com> wrote:

[2016-09-29 21:36] moui72 commented on #54
seems to be working on Android 7 / Chrome 53

[2016-09-29 21:40] moui72 commented on #50
the dropdown is now rendered as a dropdown in embedded problems.

I noticed something else in checking this but I will make a new issue

![dd-ok](https://cloud.githubusercontent.com/assets/3885628/18973508/cd5a26b4-866b-11e6-92ac-d3537bdcb0b4.png)

[2016-09-29 21:41] #50 closed

[2016-09-29 21:45] moui72 opened #55 "clicking elements (e.g. img or select) within embedded problem collapses the problem"
When you click the dropdown in an embedded question, it opens the dropdown but them immediately collapses the problem container. Also, if you click a link, e.g. an image, the problem collapses and then the next page loads.

I'm not sure that this matters but I just thought I'd point it out. This stemmed from #50

[2016-09-29 21:54] moui72 opened #56 "images are wrapped in anchor tag that has relative href where it should be absolute"
Images on pages like [problem: graphing cosine](http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_33882f74fb7d0e68192011c8f7c180be#/problem/local/GraphingSineCosine/function-graphing.pg) are wrapped in an `<a>` tag. The href for it is relative to `http://openlabdev.org/webwork-playground/`, but the image is actually located on a different domain -- `http://mathww.citytech.c

[2016-09-29 22:00] moui72 commented on #51
I'm not sure if you did anything, but the search form no longer appears above the filters, and when it appears below the page content it looks fine -- so I am closing this :grinning:

[2016-09-29 22:00] #51 closed

[2016-09-29 22:01] boonebgorges commented on #51
I love bugs that fix themselves

[2016-09-29 22:01] moui72 commented on #32
In general, Boone, would you rather we report markup issues here or make new issues? E.g. #50  should maybe have been part of this thread?

[2016-09-29 22:02] boonebgorges commented on #32
Start new issues. These massive threads lead to reports getting lost. In fact, let's close this one.

[2016-09-29 22:02] #32 closed

[2016-09-29 22:03] boonebgorges commented on #55
This should be easy enough to fix. Thanks for the report.

[2016-09-29 22:07] boonebgorges commented on #47
Yeah. The problem with that is that "Show All" is actually the same thing as "Select Course" or whatever, so it feels weird and redundant to have Show All be a persistent value.

I think what we currently have is good enough for now. I doubt anyone will find this awkward in actual use, but if they do, we can bring it to Jenna's attention for further study.

[2016-09-29 22:07] #47 closed

[2016-09-30 00:39] bree-z commented on #54
Looks good to me, too, thanks!  I tested both the links and filters on mobile, and both are fine.  I did just see one more unrelated issue on mobile, for which I'll open a separate ticket.

[2016-09-30 00:46] bree-z opened #57 "Mobile: when filtering for "Show All" problem sets, top dropdown is hidden"
When I filter for Show All Problem Sets, the dropdown allowing users to sort questions by Most Recent, Most Replies, etc, is partially hidden.  If I choose a particular problem set, it's fine.

I'm on iOS 10/Safari.

![questionlistdropdown](https://cloud.githubusercontent.com/assets/7189824/18977100/9babd274-8685-11e6-9796-0912317d9d90.jpg)

[2016-09-30 01:12] #54 closed

[2016-09-30 14:28] boonebgorges commented on #57
Fix is ready to test.

[2016-09-30 15:00] boonebgorges commented on #56
The problem in this specific case is that the markup has stray whitespace - `<a href ="` (note the space after `href`). I've rewritten the parser to use a regular expression that should account for this. Note that it'll only apply to newly-imported problem text, so be sure to try with a new question (the "View My Problem" text belonging to the new question should work).

[2016-09-30 18:08] moui72 commented on #56
looks good

[2016-09-30 18:08] #56 closed

[2016-09-30 18:11] moui72 commented on #55
oddly, click the dropdown to open it is now fine, but selecting an option still collapses the problem

[2016-09-30 22:03] bree-z commented on #57
Looks good, thanks!

[2016-09-30 22:03] #57 closed

[2016-10-03 14:41] boonebgorges commented on #55
It's looking like I've run out of time to fix this for the October release.

[2016-10-12 14:10] boonebgorges opened #58 ""Target" question should be highlighted on problem page"
When clicking a question title from an index, you're led to the corresponding problem page, which then scrolls to the clicked question. We should highlight the clicked question, so that it's still obvious after scrolling around a bit.

Jenna's mockup: https://www.dropbox.com/s/i2sx3dl17u9fofi/OLWW_LAYOUT_PROBLEMPOST_highlight.png?dl=0

[2016-10-12 14:30] boonebgorges opened #59 "Production build should not have debug tools activated"

[2016-10-12 14:41] #59 closed

[2016-10-12 14:44] boonebgorges commented on #58
This is ready to test on openlabdev.org.

Styling doesn't match the mockup exactly. Screenshot:

![screenshot_2016-10-12_09-42-34](https://cloud.githubusercontent.com/assets/246627/19314594/574f583c-9060-11e6-81f6-fa704703b350.png)

The avatar is not flush with the left side. It's not flush with the left margin in *any* question - it's just that it's only noticeable with the yellow background. Sho

[2016-10-12 17:24] jennaspevack commented on #58
This is fine for now. Thanks Boone!

[2016-10-12 17:42] boonebgorges commented on #58
Thank you!

[2016-10-12 17:42] #58 closed

[2016-10-15 16:58] moui72 opened #60 "Implement "filter blurb" and "homepage blurb" in the theme"
Filter blurb (goes in the blue box above the dropdowns)

[code]

Homepage blurb (goes at the top of the questions index)

[code]

[2016-10-16 04:54] moui72 opened #61 "sidebar menu widget inserts home and course profile link"
in the sidebar widget for the menu I created which you can see on the page linked below, the course profile and home link are being inserted. not a huge deal, but ideally I don’t want them there.
http://openlabdev.org/webwork-playground/help/#

[2016-10-16 04:55] moui72 opened #62 "sidebar on help pages not accessible"
the sidebar on help pages is not visible on mobile resolutions.

is there anyway we can rig it to expand with a click on the magnifying glass the way that the filters do on the question index page?

i am talking about the sidebar on pages such as the following
http://openlabdev.org/webwork-playground/help/#

[2016-10-17 14:48] boonebgorges commented on #60
At some point in the future, I'll make these dynamic. For now, I've changed them in the hardcoded text.

[2016-10-17 14:57] boonebgorges commented on #61
The Home and Course Profile links are added to every site on the OpenLab by some custom functionality we built years ago. I've just added a flag to the WeBWorK theme that disables them for the OLWW site.

[2016-10-17 15:02] boonebgorges commented on #62
Sure thing. My apologies for missing this before.

When you say "click on the magnifying glass" I assume you mean "click on the hamburger icon at the left", which is generally the convention for nav menus on mobile. This is what I've implemented on http://openlabdev.org/webwork-playground/

[2016-10-31 11:51] drdrew42 opened #63 "multiline TeX rendering"
https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/3x3-Systems/triangular.pg/question-152

It seems that we're picking up an unforseen "amp;" in this multiline TeX code. (We're also missing the values that follow the equal-sign)

[2016-10-31 12:01] drdrew42 opened #64 "student version not displaying"
I have a student who's saying that their version of a problem is not being displayed.

It seems as though the "show my version" is displaying the version corresponding to the first person to ask this question.

https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/Circles/identify-center-radical-radius-CtS.pg/question-145

Though it seems to be working correctly elsewhere, where two questio

[2016-10-31 12:04] drdrew42 commented on #52
This is a difference between PG problems and PGML problems. In PG the delimiters are \( \) and in PGML they're [` `]. So this may be a big problem, as the plan was to shift the problem sets that were written early on (in PG) over to PGML for standardization purposes.

[2016-10-31 13:47] boonebgorges commented on #52
@drdrew42 When you say "this may be a big problem", do you mean "it needs to be fixed right now"? Are there problems in the current sets that are exhibiting the issue? If so, could you link to them please?

[2016-10-31 13:49] drdrew42 commented on #52
I'm not seeing it cause problems now, and we've already crossed into the newest sets that are strictly PGML. Did you already make exceptions for these delimiters? (I see that this comment was posted a month ago...)

[2016-10-31 13:50] boonebgorges commented on #52
I don't recall :) If you can link to a problem whose source contains
this kind of delimiter, I can trace it through the database to get a
sense of what's happening.

On 10/31/2016 08:49 AM, drdrew42 wrote:

[2016-10-31 13:53] drdrew42 commented on #52
All of the questions on the current ol-webwork site are coming from PGML coded problems.

[2016-10-31 13:57] boonebgorges commented on #52
Yes, but in the original discussion, I think it was specified that only certain bits of TeX (like in multi-part problems) were delimited like this. I want to be sure that I'm looking at the right thing before digging deep. Can you confirm that https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/Circles/identify-center-radical-radius-CtS.pg/question-145 contains markup that was originally

[2016-10-31 15:30] drdrew42 commented on #52
$(U

Yes, but in the original discussion, I think it was specified that only certain bits of TeX (like in multi-part problems) were delimited like this. I want to be sure that I'm looking at the right thing before digging deep. Can you confirm that https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/Circles/identify-center-radical-radius-CtS.pg/question-145 contains markup that was orig

[2016-10-31 15:32] drdrew42 commented on #52
Yes, it certainly is. Would it help if I provided a WW login for the class I'm using with ol-webwork right now?

[2016-10-31 15:33] boonebgorges commented on #52
Yes, if it's not too much trouble. Thanks.

On 10/31/2016 10:32 AM, drdrew42 wrote:

[2016-10-31 15:34] drdrew42 commented on #52
And I think you might be referring to the "displaystyle" math from PG, which uses the delimiters \[ \]

PGML: [{tick} {tick}] and PG: \( \) as \begin{math} \end{math}
PGML: [{tick}{tick} {tick}{tick}] and PG: \[ \] as displaystyle

[2016-10-31 15:36] drdrew42 commented on #52
http://mathww.citytech.cuny.edu/webwork2/MAT1275-F16-Parker
with the usual 'bgorges'

[2016-10-31 15:43] boonebgorges commented on #52
what I was originally referring to was what this screenshot shows: https://github.com/livinglab/webwork-for-wordpress/issues/40#issuecomment-250277642

The LaTeX in "Step 2" is not rendered properly in this example, because WeBWorK doesn't render it before sending it to WP.

[2016-10-31 18:02] drdrew42 commented on #40
I've also fixed this issue - these were the wrong delimiters for this situation. The Step-headers are _outside_ of the PGML, and as such I was using the wrong delimiters - this one's on me. :(

[2016-10-31 18:06] boonebgorges commented on #52
Hiya @drdrew42 - If I'm correct that https://github.com/livinglab/webwork-for-wordpress/issues/40#issuecomment-257371294 refers specifically to the issue described in this ticket, then I think we can close this one as a non-issue :-D

[2016-10-31 18:13] drdrew42 commented on #52
Yeah, that's also my bad, resurrecting a month-old issue. I just saw it mentioned me and I somehow missed responding to it.

[2016-10-31 18:18] boonebgorges commented on #52
No worries! Always happy to close a ticket :)

[2016-10-31 18:18] #52 closed

[2016-10-31 18:19] drdrew42 commented on #64
Student told me in class that she asked a question from another student's question page, rather than through the "ask for help" button directly.

[2016-10-31 18:19] #64 closed

[2016-10-31 19:18] boonebgorges commented on #64
Aha! Thanks for following up.

[2016-10-31 20:03] moui72 commented on #63
can you link to the webwork problem?

[2016-10-31 20:12] drdrew42 commented on #63
http://mathww.citytech.cuny.edu/webwork2/MAT1275-F16-Parker/3x3-Systems/1/

Use the login I created for boone? 'bgorges'

[2016-10-31 20:13] drdrew42 commented on #63
There is probably similar issue with the other problems in that set - they use the same TeX code...

[2016-11-02 19:00] boonebgorges opened #65 "BP activity stream integration"
When activity occurs on the WW site, the following should happen:

- Activity item(s) should be posted in the activity stream
- If the client site is associated with a group, that group's last_activity should be bumped

The latter is now implemented on openlab.citytech.cuny.edu, though in a fashion that won't work for the distributed plugin. Here's the code:

[code]

General activity integration w

[2016-11-07 18:56] boonebgorges opened #66 "Disparity with reply counts"
From @drdrew42:

[2016-11-22 03:43] boonebgorges opened #67 ""Filter" link in "Explore Questions" blurb goes to wrong place"
Currently points to https://openlab.citytech.cuny.edu/ol-webwork/help/explore-existing-question-and-replies/#filter

Should go to https://openlab.citytech.cuny.edu/ol-webwork/help/explore-existing-questions-and-replies/#Filters

[2016-11-22 03:47] boonebgorges commented on #61
Actually, I think this is resolved.

[2016-11-22 03:47] #61 closed

[2016-11-22 03:50] #33 closed

[2016-12-02 02:41] boonebgorges opened #68 "User should get email notification when someone responds to her question"

[2016-12-02 02:44] boonebgorges opened #69 "Email notifications of new activity for course instructors"
For spring milestone, we need something like this:

- [x] A hardcoded list that connects instructor OL accounts with section info (as that info is parsed from URLs by WeBWorK
- [x] Someone will have to provide me with that list
- [x] When activity is created, use the list to look up the corresponding instructor, and send an email notification

In the future, we can make this more sophisticated and

[2016-12-02 02:46] boonebgorges opened #70 "Question-level email subscription"
This may need design work if it's going to happen for the spring, since we may want to change the heart icon to something else (a bell, maybe).

[2016-12-02 02:48] boonebgorges opened #71 "Automatic email subscription for threads that you've participated in"
This should only be implemented when we have a way for users to opt out on an individual-thread basis.

[2016-12-02 02:50] boonebgorges commented on #39
I'll look at this for the spring, though I think it's somewhat lower priority than other potential enhancements.

[2016-12-09 19:13] boonebgorges commented on #55
I've put an exception in place for `select`, `option`, and `a` elements. I think this should cover embedded images. I'll deploy this shortly to webwork-playground, so please include in your next round of testing.

[2016-12-09 19:19] boonebgorges commented on #66
Hi @drdrew42 - I've looked through the existing problems on the site, and I don't see any offenders. (Sorry for not jumping on it right after it was reported.) I also read through the code and I don't see how double-counting would take place - nothing obvious, at least.

[2016-12-09 19:20] #67 closed

[2016-12-09 20:21] boonebgorges commented on #68
First pass at this functionality is up. The message sent is as follows (Sally Smith is the person who replied)

Subject:

    [City Tech OpenLab] Sally Smith has replied to your question

Message:

    Sally Smith has replied to your question on City Tech OpenLab.

    To read and reply, visit [question url].

Suggestions on message text are welcome.

Users do not receive notifications when they r

[2016-12-10 16:57] drdrew42 commented on #66
I noticed that the double-counting disappeared not long after I reported the issue. I just figured It got fixed, you should totally take credit.

[2016-12-12 15:16] boonebgorges commented on #66
My favorite kind of bug fix!

[2016-12-12 15:16] #66 closed

[2016-12-14 14:51] drdrew42 commented on #68
Just to clarify, this email is sent to the "owner" of the question?

Overall, the message is straight to the point and I don't think we need much more detail. The subject line is fine, but should the bracketed text mention OpenLab-WeBWorK? Something to distinguish it from other OpenLab emails (does this happen?)

[2016-12-14 14:51] drdrew42 commented on #69
I'll get you the list for Spring. Just lastnames + email addresses?

[2016-12-14 14:53] drdrew42 commented on #70
It might be that we keep the "like" as is and stick something like a bell next to it for the 'subscribe' functionality? The number of subscribers may be ignored, or could be added to the 'popularity' rating for the question...

[2016-12-14 20:18] boonebgorges commented on #68
Correct - the person who asked the question gets a notification when a response is posted to the question.

Good call. I will make this change.

[2016-12-14 20:19] boonebgorges commented on #69
@drdrew42 I need enough information to match courses to instructors. Email addresses are good on the OL end. I assume last names will work from WW because the last name is always included in the course URL. Is that correct? If so, then yes.

[2016-12-14 20:19] boonebgorges commented on #70
Yes, I think that's the best way forward in the long run, but I think it's beyond what we can do for the spring.

[2016-12-14 21:34] drdrew42 commented on #69
That's correct. My standard form is "Course###-SemesterYear-LastName"

[2017-01-06 02:27] boonebgorges commented on #69
@drdrew42 Ping! Any chance you can provide me with a list, even if it's not complete? Having some real(ish) data - corresponding to a real WW class - will help me to build out the feature. I can always swap out for the up-to-date list closer to the beginning of the term.

[2017-01-06 02:47] boonebgorges commented on #68
I've made the change.

[2017-01-06 19:45] drdrew42 commented on #69
Let me get the list from the seminar team. What data do you need from a real-ish class? You still have access to my Fall16 MAT1275 course on the WW site from last semester - is that enough?

[2017-01-06 21:33] boonebgorges commented on #69
I need a list of unique faculty identifiers - I guess this would be
email addresses, as long as they match the email addresses on file in
the OpenLab - and the URLs of the WeBWorK courses they're associated with.

On 01/06/2017 01:45 PM, drdrew42 wrote:

[2017-01-09 18:16] boonebgorges commented on #31
I started thinking about implementing this, but I don't think it can move forward without design. A couple of thoughts:

- The Edit button needs to appear somewhere, ideally in a place that'll be consistent between Replies and Questions.
- Entering Edit mode will, presumably, turn the text field into an editable field - more or less what happens when you're in Preview mode and you click Edit.
- Pr

[2017-01-09 19:00] boonebgorges commented on #69
The basic infrastructure is now in place. The data format that I'll need looks like this:

[code]

eg

[code]

[2017-01-09 19:40] boonebgorges commented on #11
I've added some logic that couses incorrect problem URLs to show a "not found" message instead of a blank problem form. Test this with a dummy URL like http://openlabdev.org/webwork-playground/#/problem/foo

[2017-01-18 02:43] boonebgorges opened #72 "Update to logic of "like" icon state"
See the following summary from Jenna:

![likestates](https://cloud.githubusercontent.com/assets/246627/22048900/a270774c-dcf5-11e6-8e7f-4ddd1995e54f.png)

[2017-01-19 18:05] moui72 commented on #62
this looks good. a minor issue is that the top of the menu is ~3px too far down, showing some of the page behind it. i think it should be flush with the hamburger white margin below the black bar that contains the magnifying glass. if you don't feel like messing with that right now it's fine to leave it until a future update.

![screenshot_20170119-130050](https://cloud.githubusercontent.com/asset

[2017-01-20 22:52] moui72 commented on #68
I posted a new question and responded to it, and got an E-mail notification.

I noticed that when I responded to a preexisting question I had posted, there was no notification. Is this intended/does it matter?

Also if I respond to my own question, there is no notification (looking at the commit, this is clearly intended, but I wanted to document it here for future reference)

[2017-01-20 22:53] moui72 commented on #68
everything looks good otherwise

[2017-01-20 22:59] moui72 commented on #55
this looks fixed!

[2017-01-20 22:59] #55 closed

[2017-01-21 01:26] moui72 commented on #11
seems good.

[2017-01-24 02:39] boonebgorges commented on #11
Thanks!

[2017-01-24 02:39] #11 closed

[2017-01-24 02:50] boonebgorges commented on #62
Thanks @moui72 - I spent two minutes looking and I couldn't see at a glance where that 3px is coming from in order to make a proper fix. So I did a clunky negative-margin trick instead. Could you confirm that it's addressing the issue?

[2017-01-24 02:52] boonebgorges commented on #68
Is this because the preexisting question was written by the same account as the one you were using to leave a response? Off the top of my head, I can't think of a reason why preexisting questions wouldn't work the same way as new ones.

[2017-01-24 03:23] moui72 commented on #68
I think it ended up just being very delayed for some reason. Probably nothing to worry about, seems to be working now.

[2017-01-24 03:25] boonebgorges commented on #68
Excellent - thank you!

On 01/23/2017 09:23 PM, Tyler J. Peckenpaugh wrote:

[2017-01-24 03:25] #68 closed

[2017-01-24 19:53] moui72 commented on #62
I am not seeing any change :(

[2017-01-24 20:05] boonebgorges commented on #62
Did you do a hard refresh? The stylesheets can be quite sticky.

On 01/24/2017 01:53 PM, Tyler J. Peckenpaugh wrote:

[2017-01-25 16:32] bree-z commented on #62
FWIW, I see the same thing as @moui72, on iOS10.2/Safari.

[2017-01-25 16:37] boonebgorges commented on #62
Thanks, @bree-z. Since this is quite minor and presumably doesn't affect our current release, and is proving to be non-trivial to solve, I'm going to open a separate ticket for it.

[2017-01-25 16:37] boonebgorges opened #73 "Improve styling for help menu on mobile"
See discussion and screenshot at https://github.com/livinglab/webwork-for-wordpress/issues/62#issuecomment-273851319

[2017-01-25 19:26] moui72 opened #74 "Link in sidebar blurb results in 404"
There is a link in the sidebar blurb ("filter"). There is a very hard to notice typo in the href property: the "s" is missing from "question**s**."

[code]
![filters-link](https://cloud.githubusercontent.com/assets/3885628/22305613/2d8ebe8c-e30a-11e6-8d1a-2f2b1453873c.png)

[2017-01-25 19:27] moui72 commented on #62
thanks all. and yes, i tried everything i could think of to make sure the cache was clear... :man_shrugging: stupid browsers and their stupid caches

[2017-01-25 19:40] moui72 opened #75 "very long author name does not wrap appropriately"
Apologies if you already know about this, but I didn't see an issue for it so I figured I'd document it.

Your super fancy display name on openlabdev.org doesn't wrap as it should. It has a very long string of characters with no spaces which overflows, where I think it should soft-wrap (with hyphen).

![namewrap](https://cloud.githubusercontent.com/assets/3885628/22306161/272a91ae-e30c-11e6-985e-6

[2017-01-25 19:42] moui72 commented on #75
URL to example: http://openlabdev.org/webwork-playground/#/problem/local/GraphingSineCosine/function-graphing.pg/question-11169

Screen shot is from Windows 7, Chrome 55. Looks the same in Windows 7, Firefox 50.

[2017-01-25 19:58] moui72 commented on #72
Boone, do you want any feedback on how things currently differ from this, or should we just ignore it until you're ready? (e.g., the "home page, results & logged out" case is currently a blue thumb where it should be either black or grey if no likes).

[2017-01-25 20:00] boonebgorges commented on #72
No feedback necessary here - the specs in the attached image came from
Jenna, but didn't make the Spring 2017 scope. We'll make the changes for
the fall.

On 01/25/2017 01:58 PM, Tyler J. Peckenpaugh wrote:

[2017-01-25 20:01] moui72 commented on #72
sounds good

[2017-01-25 20:02] moui72 commented on #74
See also #60

[2017-01-25 20:05] moui72 commented on #31
I can't add labels, but this should probably have needs-design

[2017-01-25 20:09] boonebgorges commented on #31
Yes. Added. I'll also see if I can grant you more access to the repo.

[2017-01-25 20:16] moui72 opened #76 "Spring 2017 testing roadbloacks"
A few issues. I think this primarily needs @drdrew42's attention.

1. When logged into webwork using our credentials for the last testing run, “ask for help” button in webwork directs to the production site. This means I can’t create new problems on openlabdev.org/webwork-playground for testing.
2. When logged into webwork using our credentials for the last testing run, I only have access to one c

[2017-01-26 15:41] #75 closed

[2017-01-26 15:41] boonebgorges commented on #75
Thanks for the ticket. Fixed.

[2017-01-26 15:42] #74 closed

[2017-01-26 15:43] boonebgorges commented on #74
Whoops, sorry about that. Fixed.

[2017-01-26 15:44] boonebgorges commented on #62
Thanks to both of you :)

[2017-01-26 15:44] #62 closed

[2017-01-26 18:11] bree-z opened #77 "Like icon/count only appears as "liked" for user who liked it"
Here's an example question: http://openlabdev.org/webwork-playground/#/problem/local/AddRationalExpressions/add-DiffSquares-med.pg/question-11276

- While logged in as teststudent I liked the last response in the list for the question above (response was from Test Faculty, "sdas (2x/5)^4 asdasd"). The like icon changed to black and the count changed to 1, as expected.
- If I log in as tstudent8, I

[2017-01-26 18:16] moui72 commented on #77
I did an additional test: when I liked something as testfaculty, I got the same behavior (reply moved up, but like not shown in count) when viewing from any other account or not logged in.

[2017-01-26 18:18] moui72 commented on #77
When logged in as super user (account: [supertyler](http://openlabdev.org/members/supertyler/)) my likes are visible to other views

[2017-01-26 18:19] moui72 commented on #69
this is still waiting on @drdrew42 right?

[2017-01-26 18:30] boonebgorges commented on #69
Yes

On 01/26/2017 12:19 PM, Tyler J. Peckenpaugh wrote:

[2017-01-26 21:05] boonebgorges commented on #77
Thanks for the details. A quick question about this, as I won't have
time to dig in in the next couple hours: is the behavior described here
different from what's currently happening on the production site?

On 01/26/2017 12:11 PM, bree-z wrote:

[2017-01-26 21:11] moui72 opened #78 "show like and reply count when collapsed"
# index view
Currently, on the index view, when a question is collapsed it shows the reply count but not the like count. Like count while collapsed shouldnt take up much if any vertical real estate and might be nice.

![index-view](https://cloud.githubusercontent.com/assets/3885628/22350466/dc8ea384-e3e1-11e6-929a-e95ef7ddb1d9.png)

# detail view
Currently, on the detailed view, collapsed question

[2017-01-26 21:16] moui72 commented on #77
it appears to be happening on production also. I liked andrew's response to this question using "teststudent" account:

https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/TrigonometryRatios/trig-sides-basics.pg/question-161

it is not visible when not logged in or logged in as a different user (e.g. teckenpaugh).

note that this is only for replies -- it appears to work fine for me with

[2017-01-26 21:25] boonebgorges commented on #77
Thanks for the clarification, Tyler - if it's an existing issue, I'll
probably leave it alone for now (making changes to this sort of thing
could have unexpected repercussions at this late stage)

On 01/26/2017 03:16 PM, Tyler J. Peckenpaugh wrote:

[2017-01-26 21:25] moui72 commented on #77
OK

[2017-01-26 21:44] moui72 commented on #76
@drdrew can you look at issue 2 and 3?

[2017-01-26 23:01] bree-z opened #79 "Problem and question fields don't load on mobile"
When I click on Ask for Help on the WW site, it opens the OL-WW site in a new tab, but neither the problem nor the Ask a Question box load.  I just see a list of questions in the order they're listed on the OL-WW homepage.

WW URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/AddRationalExpressions2/16777216/?user=student1&effectiveUser=student1&key=ro5vPUYzZtjDdhx1WCfoiXtPb9Tb3kVB
OLdev URL: h

[2017-01-26 23:08] moui72 commented on #79
When I use the OLdev-URL I see the same, but when I use the WW-URL and click "ask for help"  it loads the expected page with question fields visible. Android 7 / chrome 55

[2017-01-26 23:24] drdrew42 commented on #76
So, to clarify, we need a second course - and in that course you want two student accounts and two instructor accounts in the new course?

[2017-01-26 23:35] moui72 commented on #76
Yes please! Or at least one faculty accounts that will show as distinct
from the one attached to the original course, so that we filter questions
by faculty and have more than one choice.

On Thu, Jan 26, 2017, 6:24 PM drdrew42 <notifications@github.com> wrote:

[2017-01-26 23:43] drdrew42 commented on #76
I believe that filtering by faculty is based on the name of the WeBWorK course? It's not based on the user account in WeBWorK itself. So what should be creating the different entries in the filter menu is differently named courses:

MAT1275-S17-Peck
MAT1275-S17-Zuck

Perhaps something like this?

[2017-01-27 00:23] moui72 commented on #76
That sounds good. And if it's bothersome to do two you can just do one.
Thanks!

On Thu, Jan 26, 2017, 6:43 PM drdrew42 <notifications@github.com> wrote:

[2017-01-27 01:09] bree-z commented on #79
I tested this one more time, just in case I was doing something dumb, and got the same result.  (Perhaps I'm still doing something dumb, but I'm not sure what that could be!)

WW URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/AddRationalExpressions2/16777216/?user=student2&key=yFNELU5n6D2B1Q5Bwp2f2E8N6Y6wqK8N&effectiveUser=student2

OLdev URL: http://openlabdev.org/webwork-playground/?post_d

[2017-01-27 02:20] boonebgorges commented on #79
I'm seeing the same thing on iOS. I think it has to do with security precautions related to our HTTP authentication. I'll disable the auth for a moment and see if that fixes it.

[2017-01-27 02:53] moui72 commented on #76
@drdrew42 give me a mention when it's ready, if you don't mind -- and let me know how to access a different course if it's non-obvious

thanks again!

[2017-01-27 03:03] boonebgorges commented on #79
Oof. It seems like the problem is actually more serious, and probably one that already affects the production site.

Something about iOS Safari is causing the URL fragment (the `#/chunk/that/looks/like/this`) to be lost during the redirect chain that occurs when coming from WeBWorK. Apparently this browser implements fragments differently from others when receiving a 302 Redirect header.

As a wor

[2017-01-27 03:04] boonebgorges commented on #79
A very quick follow-up that my workaround has no effect if you have to go through the login process after clicking Ask For Help; during the login process, WP sends a 302 Redirect header that breaks the chain. I might be able to come up with another workaround for this, but it's more than I can do at the moment.

[2017-01-27 03:19] drdrew42 commented on #76
@moui72 and @bree-z
okay, I've got bzuck:bzuck for [this course](http://mathww.citytech.cuny.edu/MAT9999-S17-Zuck/)
and tpeck:tpeck for [this other course](http://mathww.citytech.cuny.edu/MAT9999-S17-Peck/
)
These courses are not displayed on the WeBWorK mainpage, so you'll have to use these links manually.

[2017-01-27 03:30] bree-z commented on #79
Thanks, Boone.  I can confirm that it's working on iOS if I'm already logged into OLdev.

[2017-01-27 04:05] moui72 commented on #76
Thanks! I'm out of testing time tonight but I'll do it tomorrow morning.
Unfortunate we'll miss the release but if there's a problem we'll know
about it and patch ASAP.

On Thu, Jan 26, 2017, 10:19 PM drdrew42 <notifications@github.com> wrote:

[2017-01-27 04:08] moui72 commented on #79
Still works fine on Android 7/chrome 55 in either login state.

On Thu, Jan 26, 2017, 10:30 PM bree-z <notifications@github.com> wrote:

[2017-01-27 13:03] moui72 commented on #76
sorry to bug you again @drdrew42 but these courses don't have the "ask for help" button, and instead have "email my instructor"

can you make the button point to openlabdev.org/webwork-playground like the rainbow course?

[2017-01-27 13:45] boonebgorges commented on #79
Thank you!

[2017-01-27 13:51] boonebgorges opened #80 "URL fragment doesn't persist through server-side redirect on iOS"
See #79. That ticket fixed the issue authenticated POSTs, but not for those that need to go through wp-login.php. I'll need to build some sort of JS-based replacement for wp-login's `redirect_to` behavior.

[2017-01-27 13:51] boonebgorges commented on #79
I'm going to handle the iOS login issue in #80.

[2017-01-27 13:51] #79 closed

[2017-01-27 14:05] moui72 opened #81 "in-use image was purged"
it looks like we lost an image at some point that is still supposed to display on production

page url
https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/LawOfSines/geometric-AAS.pg/question-201

image url
http://mathww.citytech.cuny.edu/webwork2_files/tmp/MAT1275-F16-Parker//gif/ae32b78c-ff00-3b18-a5a3-1839f7425e49___317ab538-3c69-3f42-960d-554ee89c6332.png

is this as intended, since t

[2017-01-27 14:18] moui72 opened #82 "interpret linebreaks"
when asking a question or making a reply, linebreaks are ignored outright

it might be nice to allow some for formatting purposes

[2017-01-27 14:28] moui72 opened #83 "deleting a question via WP does not delete its replies"
if I delete a question in the [wordpress dashboard](https://openlab.citytech.cuny.edu/ol-webwork/wp-admin/edit.php?post_type=webwork_question) the replies remain [in the dasboard](https://openlab.citytech.cuny.edu/ol-webwork/wp-admin/edit.php?post_type=webwork_response) -- do we want it to work this way, or should a question's replies be delete with the question?

[2017-01-27 14:28] bree-z commented on #81
In case it's helpful, here's another one:

page url:
https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/GraphingSineCosine/identify-amplitude.pg/question-176

image:
http://mathww.citytech.cuny.edu/webwork2_files/tmp/MAT1275-F16-Parker//gif/53862018-71c8-38f6-b57d-db236753768d___874be349-0a9e-31f1-962a-74f538106072.png

[2017-01-27 15:09] boonebgorges commented on #81
Ping @drdrew42 - I don't know the answer to this one.

[2017-01-27 15:09] drdrew42 commented on #76
LOL, right. TIL WeBWorK does not copy the course configuration files along with everything else when cloning from the master course. :(

Doing that now.

[2017-01-27 15:20] moui72 commented on #76
thanks!

On Fri, Jan 27, 2017 at 10:09 AM drdrew42 <notifications@github.com> wrote:

[2017-01-27 15:50] drdrew42 commented on #81
Oh, right. This escaped my prior thinking on this subject - but the course turnover between semesters is going to cause an issue regardless of the image cache flush.

Between semesters I archive the courses from the previous semester - which removes access to the course. I could keep old courses available, but this means all the old student data will persist in the SQL database. After a few semest

[2017-01-27 15:57] boonebgorges commented on #81
Thanks for the clarification, @drdrew42. See #39 - I'll be sure to prioritize that for the spring.

[2017-05-02 18:07] moui72 commented on #49
"active question" is now highlighted with background color. this solves the issue for now.

[2017-05-02 18:07] #49 closed

[2017-05-02 18:13] #76 closed

[2017-05-05 14:43] drdrew42 opened #84 "TeX not rendered"
https://openlab.citytech.cuny.edu/ol-webwork/#/problem/local/CoordinatePlaneTrig/ratio-inequality-xyr.pg/question-555

This TeX blob is not rendering, perhaps it's an issue with the "less than" symbol? Just a hunch.
`&lt;` appears in what should be the code that renders as TeX.

[2017-05-10 21:54] boonebgorges commented on #84
Here's what I'm seeing:

![screenshot_2017-05-10_16-52-50](https://cloud.githubusercontent.com/assets/246627/25923037/4213a810-35a1-11e7-8bdf-727723af55a3.png)

You're referring to the part that reads `\cos(\theta) &lt; 0`, correct?

[2017-05-11 02:57] drdrew42 commented on #84
Yeah, that's it.

[2017-05-11 15:23] moui72 commented on #84
see also #63

[2017-05-11 15:24] moui72 commented on #63
let's handle this in #84

[2017-05-11 15:24] #63 closed

[2017-05-11 15:41] #81 closed

[2017-05-11 15:43] moui72 commented on #48
Charlie: Seems like a nice thing - but not a requirement for Fall.

[2017-05-11 15:47] moui72 opened #85 "E-mail notification improvements"
The following are something we may want in the future, and should be treated as related features.

- [ ] Faculty subscriptions are currently hard-coded. At some point we should streamline this functionality. #69
- [ ] Replace or supplement “like” with “follow.” #70
- [ ] Notify reply authors when their reply is marked as an answer.

[2017-05-11 15:49] moui72 commented on #5
I am gonna move this out of the fall milestone, since it seems like we can't really move forward on it

[2017-05-11 15:53] moui72 opened #86 "E-mail notification: Notify reply authors when their reply is marked as an answer."
Notify reply authors when their reply is marked as an answer.

[2017-05-11 16:00] moui72 opened #87 "Give feedback to users when they submit a question"
Add sentence within form when student submits question, letting them know that they will receive notification when question has been answered (just when question is asked, not for replies)

Andy proposes:
"You will receive an email notification when your question receives a response."

Tyler suggests expanding to:
"Thanks for your question. It has been posted, and you will receive an email notific

[2017-05-11 16:05] moui72 commented on #87
The E-mail notification part is already implemented, this ticket is just about informing the user that they will get E-mail. See #68 .

[2017-05-11 16:08] moui72 opened #88 "return to top links"
"return to top" should be available throughout the page on desktop views. already there for mobile.

[2017-05-11 16:09] moui72 opened #89 "lazy loading"
Loading speed should be improved with some kind of lazy loading. Infinite scroll (preferred) or click for more.

[2017-05-11 16:11] moui72 opened #90 "add in-progress question state"
Implement an in-progress state for a question (not answered, but responded to). Jenna to design and decide on separate filter or additional option in the current one.

[2017-05-11 16:16] moui72 opened #91 "threaded comments"
Jonas has seen at least one instance where that would have been useful. But hard to say whether it's a high priority for Fall. Boone thinks it would be a bunch of work. Seems like a lot to add now (in design terms soon). Let's get our faculty buddies' take on this.

[2017-05-11 16:19] moui72 opened #92 "Find a way to handle GeoGebra question"
GeoGebra is different Math open source application, draws mathematical figures, lets you click and drag things. It's a standalone application, can take something that you've made in GeoGebra and turn it into an applet. New WW feature allows you to integrate a GeoGebra applet into a WW problem - integrated kludgily, copy and past Java applet code into WW problem. Just experimenting with it - only b

[2017-05-11 16:22] moui72 opened #93 "change post timestamp format"
Perhaps change “posted 19 hours ago” to “posted May 1.” Need input from faculty users.

Jenna: it struck me that the way we formulate the timestamp seems to emphasize how long ago a question was answered. (Also, you can’t actually see the date and time when the action occurred, which seems like a loss of information.)

Charlie: Faculty are a bit sensitive about this - perhaps it can just be a regu

[2017-05-11 16:24] moui72 opened #94 "Formatting: markdown via GUI buttons?"
The text “density” for responding to questions is a bit much – it feels like a wall of text. Is it possible to be able to do other formatting - e.g. bold/italic?

[2017-05-11 16:26] moui72 opened #95 "The ability to search"
Text-based post search

[2017-05-11 16:27] moui72 commented on #69
this was ultimately implemented, but needs streamlining for the future. changing milestone

[2017-05-18 16:22] moui72 commented on #94
note that fixing the linebreak bug ( #82 ) will already alleviate this issue somewhat

[2017-05-18 16:24] moui72 commented on #77
we should assess where we are on this -- @boonebgorges do you need more testing?

[2017-05-30 03:07] boonebgorges commented on #89
First pass at infinite scroll is now done and ready to test on webwork-playground. Initial load speed and browser performance appear to be much, much improved over the current production site.

The "Loading More..." message at the end of the list - which appears while the AJAX request is in progress - is pretty minimally styled. This is an area for future enhancement.

I've opted to trigger a load

[2017-05-30 19:38] boonebgorges commented on #92
@moui72 (or @drdrew42) - can you please provide me with a link to an accessible WW problem that contains one of these questions? I'll need to see what it looks like in order to detect it on the WP end.

[2017-05-30 19:42] boonebgorges commented on #77
I think there's enough information for me to try to reproduce. I'll take a look as part of my bugfixing sweep for Fall and will post here if I need more clarification.

[2017-05-30 19:44] boonebgorges commented on #77
to be clear: what *ought* to be happening here is:

1. User A likes an item with 0 likes
2. User A now sees a filled-in thumb + a count of 1
3. User B now sees an empty thumb + a count of 1

That is: the count indicates the total number of counts, while the thumb status indicates the current user's like status for the item.

[2017-05-30 19:45] boonebgorges commented on #77
related: #72

[2017-05-30 19:49] moui72 commented on #92
I think this is up to @drdrew42 as I have no idea where to find one

On Tue, May 30, 2017 at 3:38 PM Boone Gorges <notifications@github.com>
wrote:

[2017-05-30 19:50] moui72 commented on #89
I'll try to get some testing in next week

On Mon, May 29, 2017 at 11:07 PM Boone Gorges <notifications@github.com>
wrote:

[2017-05-30 19:52] boonebgorges commented on #40
See also #13.

[2017-05-30 20:17] drdrew42 commented on #92
I have not coded any problems that use the GeoGebra applets yet.
I put a sample problem that uses GeoGebra in [Tyler's test course](http://mathww.citytech.cuny.edu/webwork2/MAT9999-S17-Peck/GeoGebra/1).

[2017-06-21 15:27] boonebgorges commented on #24
This was an understatement. I had to rewrite the routing logic for the entire application. But I think it's working now - ready for testing on openlabdev.org. A few notes:

- URLs now indicate sidebar filters and sort orders.
- This means that browser navigation (back, forward) should properly reflect browsing history
- It also means that all views can be bookmarked or otherwise viewed by URL
- Sp

[2017-06-21 15:29] boonebgorges commented on #24
(A bit of quick testing on openlabdev.org/webwork-playground suggests that there may be issues with duplicate questions being loaded in some cases - please pay attention to this in testing, and if you identify patterns, let me know.)

[2017-06-22 15:33] boonebgorges commented on #24
I think I found the problem with dupes, so hopefully you won't have to discover that pattern :)

[2017-06-22 20:34] boonebgorges commented on #77
I'm going to close this issue in favor of #72, since I think that the rewrite will automatically cover this.

[2017-06-22 20:34] #77 closed

[2017-06-22 20:37] boonebgorges commented on #72
Implemented in  dfc02a2. The logic here is very complex, so it needs careful testing. Here's the minimum amount of content you need to test everything:

Two items (questions or responses): Q1, Q2
Two users: A and B
A has liked Q1, B has not
No one has liked Q2

Then, check the following scenarios as A, B, and as a logged-out user:

1. From home page/results page, all users should see the same thin

[2017-06-22 20:39] boonebgorges commented on #37
I've reviewed the code and I don't see anywhere where this kind of sanitization would be taking place. Subproblems are processed as blobs of HTML, and are sanitized only against security vulnerabilities (XSS, etc). Otherwise, the content is untouched from what WeBWorK sends over.

If we run across a verifiable instance of this problem in the wild, let's reopen with details.

[2017-06-22 20:39] #37 closed

[2017-06-23 18:12] boonebgorges commented on #90
This is ready to test on openlabdev.org/webwork-playground.

I interpreted the sidebar filter options as being mutually exclusive: Even though "In-Progress" items are technically "Unanswered" (in the sense that they don't yet have an accepted answer), the "Unanswered" filter only returns those items that have no responses. Let me know if this feels right.

[2017-06-23 19:16] boonebgorges commented on #93
Done and ready to test.

[2017-07-13 11:38] bree-z commented on #93
Looks good, thanks!

[2017-07-13 11:38] #93 closed

[2017-07-13 11:47] bree-z commented on #90
I've tested, and this looks good to me, i.e. it matches Jenna's comps, and works fine.  Answering a question but not marking as answered changes it to the "In-Progress" label, and the question appears correctly based on filter choices.

The "Unanswered" filter returning those items that have no responses seems right to me, but I'll let others weigh in.

[2017-07-14 13:33] bree-z commented on #89
This looks good to me!  I tested on desktop and mobile.

The only potential issue I see is that the "Top" link is in the site footer, and when the list of problems is very long it's hard to get to the footer.

[2017-07-14 13:48] boonebgorges commented on #89
Thanks! Top links will be handled in #88.

[2017-07-18 18:21] boonebgorges commented on #89
I'm going to mark this as resolved for the purposes of the milestone. If bugs are discovered during end-to-end testing, please open new tickets with details. Thank you!!

[2017-07-18 18:21] #89 closed

[2017-07-18 18:22] boonebgorges commented on #31
Sorry for the delay on this - it was a lot of work. But the first pass is up and ready to test on openlabdev.org/webwork-playground. (Jenna's comp, for reference: https://www.dropbox.com/s/v1yosvl4yozxwal/OLWW_LAYOUT_PROBLEMPOSTV4-EDITQuestion.png?dl=0)

[2017-07-20 00:34] boonebgorges commented on #82
This should now be fixed.

[2017-07-20 00:46] boonebgorges commented on #84
Sorry about the delay on this. MathJax is indicating a parse error, which is almost certainly due to the encoded `&lt;`. But I can't tell where that encoded character came from without some more investigation.

@drdrew42 Could you please share the original source problem with me, in whatever format it's stored in WeBWorK? Could you also please populate a WWDev problem with the same TeX so that I c

[2017-07-20 00:48] boonebgorges commented on #88
See https://www.dropbox.com/s/xqkinpwrfx00ffk/OLWW_LAYOUT_HOMEV5.png?dl=0 for design

[2017-07-20 01:15] boonebgorges commented on #88
I've made the changes as per the mockup and they're ready to test on openlabdev.org/webwork-playground.

[2017-07-20 01:17] boonebgorges opened #96 "Collapsed questions should have Replies and Likes graphics"
On Problem view only. See https://www.dropbox.com/s/v1yosvl4yozxwal/OLWW_LAYOUT_PROBLEMPOSTV4-EDITQuestion.png?dl=0

[2017-07-20 01:19] boonebgorges commented on #70
In https://www.dropbox.com/s/v1yosvl4yozxwal/OLWW_LAYOUT_PROBLEMPOSTV4-EDITQuestion.png?dl=0, subscriptions are mocked up as being per-question. I'll see what can be done to implement this for the Fall.

[2017-07-20 01:41] boonebgorges commented on #87
I built the infrastructure for handling something like this, but it's not included in the last round of design mockups, so I can't build the frontend yet. @jspevack - any chance you could let me know whether you think this can be included for this round of development, and if so, how you want the feedback to work?

[2017-07-20 02:17] boonebgorges commented on #96
This has been implemented and is ready to test.

[2017-07-20 17:23] drdrew42 commented on #84
Okay, I've imported the corresponding problem set: CoordinatePlaneTrig
The offending problem is #4: 'ratio-inequality-xyr.pg'
It seems from the code that it's just a string "<" inside TeX delimiters...

`%trig = ();
$trig{1}{sin} = "\sin(\theta) > 0";
$trig{1}{cos} = "\cos(\theta) > 0";
$trig{1}{tan} = "\tan(\theta) > 0";

$trig{2}{sin} = "\sin(\theta) > 0";
$trig{2}{cos} = "\cos(\theta) < 0";
$tr

[2017-07-20 17:43] boonebgorges commented on #84
Excellent, thanks! It's almost certainly one of the sanitization routines on my end that's causing the problem. I'll have a look.

[2017-07-25 18:43] moui72 commented on #96
looks good, although I am unsure what you mean by "problem view only" -- the behavior seems to be the same on the filterable index and on the "zoomed in" view

[2017-07-25 18:44] moui72 commented on #90
i think the current functionality seems right, and it seems to be working

[2017-07-25 18:46] moui72 commented on #88
👍  looks good

[2017-07-25 18:46] #88 closed

[2017-07-25 18:53] boonebgorges commented on #96
"problem view" means "zoomed in". But now that you've mentioned it, I don't know what the design intends. @jspevack can you please chime in?

[2017-07-25 18:54] moui72 commented on #82
No go. See http://openlabdev.org/webwork-playground/#:problemId=local/ShiftingParabolas/shift-down.pg:questionId=11370 and screenshot below

![image](https://user-images.githubusercontent.com/3885628/28588567-fca93482-7148-11e7-8d55-de4d73315207.png)

Entered text included many linebreaks in both fields at various intertextual places

Do I need to bust my cache harder? Here's the script my browser

[2017-07-25 18:58] boonebgorges commented on #82
Can you please share the exact text that you have entered, along with info about your OS/browser? It's possible that the issue is linebreak encoding, for which I may need more generous regular expressions. https://github.com/livinglab/webwork-for-wordpress/commit/1bdf3d614456712ed8b4cce8a4dd8d0913e051fe

The application JS is not the file that you've linked, though if you are seeing other improvem

[2017-07-25 19:09] moui72 commented on #82
Tested on macOS 10.12.5 (Sierra) with Chrome 59.0.3071.115 (Official Build) (64-bit)

Text:

[code]

![image](https://user-images.githubusercontent.com/3885628/28588997-4aec8490-714a-11e7-877e-30a916a906cd.png)

The `¬` represents a new line character (`\n`)

![image](https://user-images.githubusercontent.com/3885628/28589077-8a6e4afe-714a-11e7-94a0-2835514cbbc0.png)

![image](https://user-images.

[2017-07-25 19:11] moui72 commented on #82
I just updated chrome to `60.0.3112.78 (Official Build) (64-bit)` with no change in behavior

[2017-07-25 19:24] moui72 commented on #31
so far edit functionality seems good, but I noticed an issue with the 'delete' button: when I edit a reply and then click 'delete' it will render the question without ANY replies. a page refresh restores them, though. I am assuming this has to do with the ajax request after delete not returning the list of replies and then populating the DOM with nothing.

## editing one of many replies
![image](h

[2017-07-25 19:26] moui72 commented on #24
great work! no issues so far

[2017-07-25 19:36] moui72 commented on #84
@drdrew42 I am curious about the code you pasted. Is it creating webwork-flavored shortcuts for various TeX strings? is it relevant that the strings on the right of the equals are not actually delimited by TeX mathmode delimiters?  e.g. `$trig{2}{cos} = "\cos(\theta) < 0";` != `$trig{2}{cos} = "$\cos(\theta) < 0$";`

[2017-07-25 19:39] moui72 commented on #91
I think this is on @jspevack's plate for spring?

[2017-07-25 19:52] drdrew42 commented on #84
This is just the hash of strings that could appear in the problem based on randomization. In the actual problem text further down, the randomly selected string appears within TeX delimiters. The quadrant for the solution (theta) is known: $quadrant; and a trig function is selected as a secondary piece of information: $givenIneq

[`$trig{$quadrant}{$givenIneq}`]

[2017-07-25 20:08] boonebgorges commented on #82
Thank you for the details. Like so many other parts of this application, there are about a hundred text encoding steps that happen between WW and the server and WP and the browser. I've just put something in place on webwork-playground that addresses this specific post - can you play with it a bit and see if it matches what you'd expect?

[2017-07-26 14:47] boonebgorges commented on #31
@moui72 Good find, and thanks for the detailed report. Looks like I messed up the routine that marks the reply as being removed (in the client) after deletion (from the server). This should now be fixed.

[2017-07-27 13:13] boonebgorges commented on #70
This is up and ready to test on openlabdev.org.

Previously, question-author subscriptions had been hardcoded. Now that subscriptions are opt-in, I've written a script that subscribes authors to their own questions.

[2017-07-27 14:27] drdrew42 commented on #70
Initial experiment worked - I was emailed when I subscribed and then commented on a question. I then unsubscribed and commented again, and did not receive a notification. Awesome!

My only immediate observation is regarding placement of the notification button - it seems to be a little buried down there at the bottom of the thread. I guess it's only compounded by the fact that we've got some insan

[2017-07-27 19:23] boonebgorges commented on #84
I managed to track down the cause of the issue, but it is hard to solve in a targeted way. Essentially: For security reasons, I limit the HTML tags that are allowed in submitted content (where "submitted" means "comes from either a user or from WeBWorK). The library I use for HTML sanitization escapes non-tag-related tag delimiters - that is, `<` and `>` - to the corresponding HTML entities `&lt;`

[2017-07-27 20:15] moui72 commented on #70
I'm seeing a rendering issue -- the action icons appear to be overlapping. Anyone else see this?

Windows 10 Home v1703 (64-bit)
Chrome 59.0.3071.115 (Official Build) (64-bit)

![render-action-icons](https://user-images.githubusercontent.com/3885628/28690314-bac4b7fe-72e6-11e7-8efd-e7cade3e9318.png)

[2017-07-27 20:18] boonebgorges commented on #70
@moui72 You shouldn't be seeing the subscription icon (the bell) on the main question index, but only on the single problem (zoomed-in) view. Can you confirm? Please be sure you've done a hard refresh, and if you're still seeing it, please share URLs.

[2017-07-27 20:27] moui72 commented on #70
The emails are sending!

I've noticed another potential issue, though. The E-mail I was sent including the following url linkback:

however, this gave me an index view. the zoomed-in url for that question seems to be:

the difference being `/#/problem/local/` vs `/#:problemId=local/`

[2017-07-27 20:33] moui72 commented on #34
this issue has come back. when I asked a question from http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/ratio-inequality-xyr.pg:questionId=11392 it posted and scrolled as expected, but the reply field was in 'preview' mode such that I needed to click 'edit' in order to enter text

![q-r-edit](https://user-images.githubusercontent.com/3885628/28691003-575eebbe-72e9-11e

[2017-07-27 20:36] moui72 commented on #82
seems to be working in the ask a question and the reply field, but not in the "what i've tried" field

text entered in all three fields
[code]

result
![linebreaks-what-ive-tried](https://user-images.githubusercontent.com/3885628/28691123-c3f3a38c-72e9-11e7-837a-99c9499ee84f.png)

[2017-07-27 20:37] moui72 commented on #72
I am avoiding this, for obvious reasons, but I will actually get into it on Saturday. And what a Saturday it will be!

[2017-07-27 20:42] moui72 commented on #31
perfect!

one thing I noticed, but this may be more of something to @jspevack to consider, is that you can have several responses in "edit mode" at a time -- but, functionality is properly localized/contextualized, so there is no behavior issues.

do we like this as is or do we want other edits to "close" when another is "opened"?

what do you think, @bree-z

![many-edits](https://user-images.gith

[2017-07-27 20:44] drdrew42 commented on #70
I'm also seeing the overlapping bell whenever a question is collapsed.

http://openlabdev.org/webwork-playground/#:problemId=local/ShiftingParabolas/shift-down.pg:questionId=11373

<img width="690" alt="screen shot 2017-07-27 at 4 42 29 pm" src="https://user-images.githubusercontent.com/3912882/28691373-b1babdbc-72ea-11e7-973e-80748b3d05f6.png">

Safari 10.1.1 on MacOS 10.12.5

[2017-07-27 20:46] moui72 commented on #24
@drdrew42, @bree-z  if you notice any issues with browser back not working as you expect, please repon and update this ticket

otherwise I think this is OK

[2017-07-27 20:46] #24 closed

[2017-07-27 21:05] boonebgorges commented on #70
Ah! Collapsing. Thanks. I assume we have to remove the icon for collapsed questions.

Incorrect links are due to changes #24.

I'll make these updates and report back.

[2017-07-27 21:38] boonebgorges commented on #82
Whoops, I missed `tried`. This should now be resolved.

[2017-07-28 01:13] boonebgorges commented on #70
Overlapping icons and incorrect email links should be fixed on webwork-playground.

[2017-07-28 01:20] boonebgorges commented on #34
Thanks for pointing this out, @moui72. This was caused by some refactoring related to editable fields. It should now be resolved.

[2017-07-29 16:24] drdrew42 commented on #24
I'll do more testing on this, don't have the time right now - but I was just fiddling around and lost all filters when using the back button. Safari 10.1.1 on MacOS 10.12.5

[2017-07-31 14:04] bree-z commented on #84
I think this is looking good, but I'm a little afraid to be the final word here.  @moui72 would you mind double checking?

Here are the two problems on OLdev:

http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/ratio-inequality-xyr-other.pg
http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/ratio-inequality-xyr.pg

I tested using these WW pro

[2017-07-31 18:51] moui72 commented on #92
@drdrew42 sorry, what's the login info for that course? My usual didn't work.

@boonegorges are you waiting on me to post this problem to webwork-playground?

[2017-07-31 18:54] moui72 commented on #84
I think it is good

[2017-07-31 18:55] drdrew42 commented on #92
I've put one of the new GeoGebra problems in the WW-Dev course, that way it can easily be tested on OL-playground

[2017-08-01 14:28] boonebgorges commented on #92
@moui72 I haven't gotten to this issue yet as it seemed from conversations that it was more speculative than anything else. If you're able to test and identify existing issues, it would help me, but otherwise I will slate some time in the next two days to look at it myself.

[2017-08-01 15:42] drdrew42 commented on #92
I attempted to post a question on the GeoGebra WW problem, and the result was that only the text was posted to the OL. I'm sure that we don't actually want to embed the applet, however there is an associated static image that is provided on the WW side (so that PDFs can be generated). I don't know if it's possible to retrieve these image files when posting to OL... or if it's even necessary?

[2017-08-02 12:37] bree-z commented on #31
I was trying to test out @moui72 's observation and have found that none of my edits save properly.

I've tried while logged in as Test Student and Test Faculty, and have tried editing my own questions and other users' questions.  Here's what happens:

I click edit, make some edits, and click save. The button says "Saving," but my edits don't appear.  If I click "Edit" again, they're there.  If I

[2017-08-02 20:10] boonebgorges commented on #31
Thanks for the screenshots. Looking at the JS console, I see that the server is returning a 403 Forbidden.

In the case of questions, WordPress is doing something odd with user permissions. I've overridden them with some custom logic.

In the case of responses, the permission check I'd written validated against *question* authorship. I'm unsure why I originally did this. It seems correct that the

[2017-08-02 20:10] boonebgorges commented on #31
(ready to test on openlabdev.org)

[2017-08-02 20:14] boonebgorges commented on #92
@drdrew42 Could you please post a sample question to WWDev, where I'll have access and can test? The static image seems like it'd be fine, but I'm unsure whether WW sends it over.

[2017-08-02 20:17] drdrew42 commented on #92
It's already there:
http://mathww.citytech.cuny.edu/webwork2/WW-Dev/GeoGebra/1
I'm not sure how WW handles the static image, it might only appear when generating the PDF copy of the problem set...

[2017-08-02 20:28] boonebgorges commented on #92
@drdrew42 Thanks. I see it now.

It looks like WeBWorK sends the encoded GeoGebra applet itself as part of the POST payload, but I don't see a reference to a thumbnail image. Can you say more about how PDFs are generated in the WW interface? I can try to poke into the WW codebase to see if there's a reusable tool there.

Barring that, perhaps we could have some sort of placeholder? Maybe text (or

[2017-08-02 20:48] drdrew42 commented on #92
Eww. That's a nasty chunk of garbage then.

The static images here are a bit different than images in other problems, as they're never intended to be accessed externally. The images live in the same folder as the source code for the problem, rather than in the htdocs subdirectories.

When requesting a PDF copy of a problem set, WeBWorK runs pdflatex behind the scenes and transfers the PDF file to

[2017-08-02 20:53] drdrew42 commented on #92
From the source code of the problem:
`TEXT($PAR,  MODES(TeX=>$im,
                      HTML=>$applet->insertAll(
                                debug =>0,
                                reinitialize_button => 1,
                                includeAnswerBox=>1,
)));`
The problem responds differently if it's being rendered in HTML mode vs TeX mode (for PDFs)
The variable $im is simply a refer

[2017-08-04 14:27] boonebgorges commented on #92
Thanks for doing this research, @drdrew42. If pdflatex is part of the solution, there must be some more magic happening, because the applet is not LaTeX. This confirms my suspicion that doing a similar rendering on the WP side is going to be a large undertaking, definitely not feasible for this term.

You make a good point about the linkback URL. We've got a couple different user types to think ab

[2017-08-04 14:30] boonebgorges commented on #84
Thanks all :)

[2017-08-04 14:30] #84 closed

[2017-08-08 14:31] moui72 commented on #82
the `tried` issue is still working, but I think it's display only: when I edit a question with linebreaks in the `tried` field, they are still there. notably, the question field will have `\n` stripped out and replaced by `<br />` but `tried` still has `\n`

also, i wonder if it is worth the effort to reverse the effect for editing, so that users see line breaks instead of `<br />` ?

i can post s

[2017-08-08 15:07] bree-z commented on #31
Thanks, Boone!  This looks good to me.

And re response permission checks, I agree that a response author should be the one who can edit a response.

[2017-08-08 15:12] moui72 commented on #31
Thanks @bree-z for catching what I missed. I was logged in as super user and not thinking about permissions.

[2017-08-08 15:23] moui72 commented on #70
I'm still getting overlapping icons in the following context:

Logged out, zoomed in view, question expanded (not collapsed).

http://openlabdev.org/webwork-playground/#:problemId=local/setGeogebra/circle-center-multians-inc/circle-center-multians-inc.pg:questionId=11445

![screenshot_2017-08-08-11-13-49](https://user-imag
es.githubusercontent.com/3885628/29079457-33f9b41a-7c2b-11e7-8cfb-b420a435b

[2017-08-08 18:18] moui72 commented on #70
The subscription email now has the correct link. I will break the overlapping icons issue out into a new issue.

[2017-08-08 18:23] moui72 opened #97 "subscription icon sometimes overlaps "like" icon/count"
This was originally noted in #70 and was partially fixed with f7128801b0fb770b4269e93dfd4fb2e9d6589d74

I'm still getting overlapping icons in the following context:

Logged out, zoomed in view, question expanded (not collapsed).

http://openlabdev.org/webwork-playground/#:problemId=local/setGeogebra/circle-center-multians-inc/circle-center-multians-inc.pg:questionId=11445

![screenshot_2017-08-08

[2017-08-08 18:30] moui72 commented on #97
fix is likely to be along the lines of `if ( isSingleProblem && ! isCollapsed )` => `if ( userCanPostResponse && isSingleProblem && ! isCollapsed )`

https://github.com/livinglab/webwork-for-wordpress/blob/master/src/components/Question.js#L417

[2017-08-08 18:32] #70 closed

[2017-08-08 18:59] moui72 commented on #72
Sorry for the long delay, it's hard not to feel insane when looking at this.
## Home page visuals are surface correct

This seems to be true. To confirm, the hover states don't appear to work when logged in and looking at the overview/index, i.e. blue `fa-thumbs-up` never appears when "zoomed out."

## Zoomed in seems good 👍

This is working for the zoomed in view.

##  Home page/results page issu

[2017-08-08 19:12] moui72 commented on #82
A few corrections to the above: if I edit a question/reply immediately after posting it, the `\n` characters are not replaced by `<br />` but after a page refresh, they are.

`tried` always has `\n` (they are no longer stripped out) but never displays as line break or `<br />`

## Demonstrating `tried` behavior
Display
![webwork playground just another city tech openlab site 1](https://user-images

[2017-08-08 19:19] moui72 commented on #92
we need exact wording for the placeholder text from @drdrew42 or @jspevack

[2017-08-08 19:20] moui72 commented on #96
we need to know the intended design for the home/results ("zoomed out") view from @jspevack

[2017-08-08 19:26] moui72 commented on #34
yep!

[2017-08-08 19:26] #34 closed

[2017-08-08 19:27] moui72 commented on #13
is this ready to test?

[2017-08-08 19:28] moui72 commented on #14
nothing to test here, right? does this need design from @jspevack?

[2017-08-08 19:29] moui72 commented on #31
I think this is all set

[2017-08-08 19:29] #31 closed

[2017-08-08 19:29] moui72 commented on #80
let us know when/if this needs testing

[2017-08-08 19:30] moui72 commented on #40
I think this is done but I am not sure

[2017-08-08 19:32] moui72 commented on #65
I don't think this belongs to the Fall 2017 milestone.

[2017-08-08 19:32] boonebgorges commented on #13
No. Due to time constraints, and the fact that this is a fairly low-impact issue, it will probably have to be pushed from the milestone.

[2017-08-08 19:33] boonebgorges commented on #14
Nothing to test. I ran out of time to address it.

[2017-08-08 19:33] boonebgorges commented on #80
Ran out of time for this one. It's extremely difficult to debug.

[2017-08-08 19:33] boonebgorges commented on #65
Agreed :+1:

[2017-08-08 19:33] drdrew42 commented on #40
Yes, I believe this one was on my end, and has been rectified.

[2017-08-08 19:36] drdrew42 commented on #92
I'm okay with Boone's suggested text. Further consideration of including reference to "Problem XYZ" seems unnecessary and could cause confusion for any students who's instructors modified the problem set. They already have access to see which problem set it comes from, by looking to the problem header...

[2017-08-08 19:37] moui72 commented on #13
k, just checking

[2017-08-08 19:41] #40 closed

[2017-08-08 21:46] jennaspevack commented on #87
@boonebgorges, sorry! I didn't see this. I can create a quick mockup, no problem. Feedback here is fine.

[2017-08-08 22:07] jennaspevack commented on #87
![olww_layout_problempostv5-editquestion](https://user-images.githubusercontent.com/22797200/29096759-00f6e0e8-7c5c-11e7-83c4-e28e0fa2b830.png)

[2017-08-08 22:20] boonebgorges commented on #87
Thanks, @jennaspevack! The problem is that we currently scroll to the newly created question after it's posted, so the message wouldn't be easily visible in the place where you've suggested.

[2017-08-08 22:21] jennaspevack commented on #90
A very small thing :)
The outline/stroke around the response box should be the same color blue as the "In-Progress" header. It's currently the "Answered" blue.

Otherwise, looks good!

[2017-08-08 22:27] jennaspevack commented on #96
My understanding is that the design for a collapsed question on any page (home, results, or problem post) would be the same.

[2017-08-08 22:32] jennaspevack commented on #87
ah! okay.

[2017-08-09 15:09] jennaspevack commented on #87
How about this?

![olww_layout_problempostv5-questionposted](https://user-images.githubusercontent.com/22797200/29128906-cf799206-7cea-11e7-9df2-9c229bc33bcc.png)

[2017-08-09 15:17] boonebgorges commented on #87
Cool, I think this should work. Let me see if I'm able to implement in time :)

[2017-08-10 18:28] boonebgorges commented on #92
I've got an initial implementation of this working. See http://openlabdev.org/webwork-playground/#:problemId=local/setGeogebra/circle-center-multians-inc/circle-center-multians-inc.pg:questionId=11451 and the screenshot below. Styling is minimal but (I hope) OK for the fall. Ping @jennaspevack in case there's some visual mods she can suggest.

![screenshot_2017-08-10_13-25-49](https://user-images.

[2017-08-10 18:32] boonebgorges commented on #90
Thanks, @jennaspevack! This is ready for another test.

[2017-08-10 18:36] boonebgorges commented on #96
Gotcha. It looks like it *does* look the same for all collapsed questions, so I think we are good here.

[2017-08-10 18:36] #96 closed

[2017-08-10 18:52] boonebgorges commented on #87
This is done and ready to test.

Previously, after a successful question post, we'd been scrolling to the new question's *response form*. But this was too low to see the feedback. It also doesn't make a ton of sense to me: why would I want to respond to a question I just posted? So I switched it, and now the scroll goes to the newly posted question itself. While testing, could I get a member of th

[2017-08-10 18:53] boonebgorges commented on #31
Thank you both!

[2017-08-10 19:54] boonebgorges commented on #82
This issue is truly awful. I've done some work to try addressing the various problems:

* System linebreaks (of the `\r` `\n` variety) are now left unprocessed by the server; previously, I'd been converting them to `<br />` in some cases, which was causing the Edit problems
* The same routines for converting linebreaks in question/response text are also applied to problem text. However, problem te

[2017-08-10 20:03] boonebgorges commented on #97
Good catch! This should now be resolved.

[2017-08-10 20:07] moui72 commented on #82
it's looking good now, sorry it's such a pain =\ I appreciate your commit message for 075442b 😆

[2017-08-10 20:10] moui72 commented on #97
once i convinced my browser that I REALLY wanted new versions of the scripts and that the cached versions were yucky, it indeed appears resolved :)

[2017-08-10 20:10] #97 closed

[2017-08-10 20:11] boonebgorges commented on #72
@moui72 Thank you very much for the thorough testing and description of the issue. The reason you were getting the weird log-in/log-out issue is that the voting mechanism was only *partly* disabled in the zoomed-out UI - as you guess, the database wasn't changed.

I believe I've fixed the issue of items being clickable when zoomed out.

[2017-08-10 20:11] moui72 commented on #82
@bree-z would you have a minute to verify that there are no lingering issues?

[2017-08-10 20:13] moui72 commented on #87
i like it and it is working! @bree-z what do you think? should we bug jenna?

[2017-08-10 20:21] moui72 commented on #72
yes, it's all good now...
...
... except one very edgey edge case...

if I go from the index page (i.e. http://openlabdev.org/webwork-playground/) to a question view (e.g. http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/six-trig-point-q1.pg:questionId=11457) and then like (or have already liked during previous session) and then use browser back to return to index, th

[2017-08-10 20:21] moui72 commented on #72
also, just to say, I don't know if we need to bother fixing this right now. i just calls them like I sees them...

[2017-08-10 20:22] moui72 commented on #90
@bree-z  can I ask you to handle this?

[2017-08-10 20:25] boonebgorges commented on #72
Oof. It works this way because when you submit a like, the like count changes by incrementing/decrementing the count from the original pageload, *not* by returning an updated count from the browser. This can be changed, but it's not trivial because of the way the application currently differentiates between overall like counts and the like status of the logged-in user. Perhaps you could open a tic

[2017-08-10 20:26] moui72 commented on #92
looks great for individual instances of the problem when logged in as, e.g., `tpeckenpaugh` the "general" version of the problem does not contain the placeholder text is missing.. not sure if this is as intended, but to me it seems like it would be nice to have it there if it's feasible to do so

![geogebra](https://user-images.githubusercontent.com/3885628/29190531-7948eb8a-7de8-11e7-9a65-b6659af

[2017-08-10 20:30] boonebgorges commented on #92
Be sure you're testing with new content. The replacement only applies to newly-imported stuff, and it sounds like you're seeing the version of the plugin imported before the fix. (You might have to delete existing content on webwork-playground. Are you able to do that?)

[2017-08-10 20:43] moui72 commented on #92
im out of time for today but ill look again tomorrow

[2017-08-10 22:02] jennaspevack commented on #87
Looks good!

[2017-08-10 22:04] jennaspevack commented on #90
thanks @boonebgorges looks good!

[2017-08-10 22:17] boonebgorges commented on #87
Whoop, thanks!

[2017-08-10 22:17] #87 closed

[2017-08-11 00:38] bree-z commented on #90
will do, @moui72!  i'll take a look tomorrow.

[2017-08-11 00:39] bree-z commented on #82
@moui72 yep, also on the list for tomorrow.

[2017-08-11 18:54] bree-z commented on #90
This looks good, thanks!  I'm going to close this one.

[2017-08-11 18:54] #90 closed

[2017-08-11 19:31] bree-z commented on #82
This looks OK to me in Firefox, but not Chrome.  Linebreaks appear in Firefox for both questions and replies.  In Chrome they don't appear for either.  I'm using OSX 10.12.5, Firefox 54 and Chrome 60.0.3112.90.

See, for example:

http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/six-trig-point-q1.pg:questionId=11468

### In Chrome

![linebreaks_askquestionchrome](http

[2017-08-11 19:34] boonebgorges commented on #82
@bree-z  Thanks for the screenshots. It's looking OK to me, though I'm not near a Mac to check if that's the issue. Could you please triple-check that your cache is clean? shift-refresh

[2017-08-11 19:55] bree-z commented on #82
So sorry @boonebgorges !  I thought I'd cleared my cache, but maybe that was Firefox...or something else. (Too many browsers and windows and tabs for one week.)

It looks good now!  I think we can close this.

[2017-08-11 19:55] #82 closed

[2017-08-11 20:07] boonebgorges commented on #82
Phew - I did not want to think about this issue anymore :-D

[2017-08-11 20:09] bree-z commented on #82
This looked like a rough one!

[2017-08-11 20:47] moui72 commented on #82
Yay! Thanks Bree

On Fri, Aug 11, 2017, 4:09 PM bree-z <notifications@github.com> wrote:

[2017-08-13 02:12] moui72 commented on #72
will do

[2017-08-13 02:12] #72 closed

[2017-08-13 02:14] moui72 commented on #92
ugh, sorry, ill get to this ASAP

[2017-08-14 15:11] bree-z opened #98 ""In-Progress" question label doesn't change to "Answered""
Here's what I did:

* I logged in as Test Student, and asked a question
* Logged in as Test Faculty, I answered that question.
* Logged in as Test Student, I clicked "This response answered my question." The blue bar on the left side of the reply appears as expected, but the "In-Progress" label at the top doesn't change to "Answered."  When the page is reloaded, the checkbox for "This response ans

[2017-08-14 15:15] bree-z commented on #98
One more update - this appears to a user permissions issue.  I was able to change the question state and have it stick, as an admin, just not as the question author.

[2017-08-14 15:25] bree-z opened #99 "Questions show "0 Replies" even when there are replies"
This happens for new and old questions, and when the label is marked "In-Progress" and marked “Answered.”

When I view an individual question with at least one reply and then click the back button to return to the question list page, the correct number of replies now appears.  But if I reload the page, it reverts to "0 Replies."

I tested on Firefox, Chrome, and Safari.

### Question List: 0 Repli

[2017-08-14 19:25] boonebgorges commented on #98
Thanks for the details, and especially for the user permissions hint. This is almost certainly linked to the change in 977abc88cfe320cc876b6e7613c84972a82bab7f. Marking a question as an "answer" counts as an "edit" from the point of view of the API, which answers the question https://github.com/livinglab/webwork-for-wordpress/issues/31#issuecomment-319783987 of why the original permissions check w

[2017-08-14 19:35] boonebgorges commented on #98
This should be working now - both the permissions issue and the "answered/in-progress" UI issue, which stemmed from the permissions problem.

[2017-08-14 19:49] boonebgorges commented on #99
Thanks so much for the detailed report, @bree-z. This problem cropped up when Reply counts were added to the Index view in #96. Previously, the counts were deterimed by counting the actual responses as reported by the API. But while this data is present in Single view (where responses are actually shown), it's not available on Index view, which is why it was coming up as a 0. I changed this so tha

[2017-08-14 19:58] bree-z commented on #98
This looks good, thanks!

[2017-08-14 19:58] #98 closed

[2017-08-14 20:09] bree-z commented on #99
Thanks, Boone!  This looks good.

[2017-08-14 20:09] #99 closed

[2017-08-14 20:26] moui72 opened #100 "minor like count issue"
if I go from the index page (i.e. http://openlabdev.org/webwork-playground/) to a question view (e.g. http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/six-trig-point-q1.pg:questionId=11457) and then like (or have already liked during previous session) and then use browser back to return to index, there will be 1 more like than is correct, but refresh fixes.

to be cle

[2017-08-14 20:40] moui72 opened #101 "errors when immediately editing a question"
Tested with Windows 10 / Chrome 60+
http://openlabdev.org/webwork-playground/#:problemId=local/ComplexFractions-Method2/single-binomial-easy.pg:questionId=11081

When logged in as faculty, if I attempt to immediately edit a question I have just asked, I get errors.

The first time I edit, the editable fields appear as expected but they are empty. I get a javascript error on every keypress when typ

[2017-08-14 20:41] moui72 commented on #101
Note that refreshing the page returns all behavior to normal

[2017-08-14 20:57] moui72 opened #102 "403 on "question answered my question""
Tested on Windows 10 / Chrome 60+
http://openlabdev.org/webwork-playground/#:problemId=local/ComplexFractions-Method2/single-binomial-easy.pg:questionId=11132

I'm not 100% of the intended functionality here. When I am logged in as faculty, all responses on all questions have the "this answered my question" checkbox. However if I click that checkbox for a response to a question that I did not ask,

[2017-08-14 21:03] boonebgorges commented on #102
Related: #98

You're correct that users should only see the checkbox if they have the ability to mark a response as an "answer".

Can I get clarification on which direction we're going here? Should faculty members have the ability to mark responses as answers? Keep in mind that we're not able to distinguish between faculty members teaching different sections.

[2017-08-14 21:24] boonebgorges commented on #101
Thanks for the detailed report! Editable fields require a separate way of storing data (so that the "cancel" button works), and I was neglecting to set that up properly after a new question is posted. This should now be fixed.

[2017-08-15 14:34] bree-z opened #103 "Like icon/count change for response only visible to user who liked it"
Question likes are working perfectly, but I'm noticing a problem with Like icons/count for responses.

- Test Faculty likes a response by Test Student
- Test Faculty can see change in like/icon count
- Test Student sees that response has moved up to the top but no change appears in icon/count
- Other users also cannot see like/icon count change
- I tested this scenario with non-admin users doing t

[2017-08-15 15:09] moui72 commented on #102
I'll ping @jennaspevack and @drdrew42 via email

[2017-08-15 15:18] drdrew42 commented on #102
Yes, I believe that faculty members should have the ability to check off this box. Especially so if our only alternative is to leave it solely to the student-owner of the question.

[2017-08-15 15:51] bree-z commented on #92
This looks good to me!  At first I saw the same thing as @moui72 but then I deleted all geogebra questions and now this is what I see:

![geogebra](https://user-images.githubusercontent.com/7189824/29323831-0b719bd6-81b0-11e7-9dc9-b7286d1f8930.png)

[2017-08-15 16:03] moui72 commented on #92
Thanks bree. What about the one at the top not tied to a specific questions?

[2017-08-15 16:08] jennaspevack commented on #102
Sounds good to me!

[2017-08-15 16:22] moui72 commented on #92
I looked and it is good!

[2017-08-15 16:22] #92 closed

[2017-08-15 22:21] boonebgorges commented on #103
Hm, it looks like this has *always* been a bug - not new to the fall.

The root of the issue is that "like" counts returned from the server did not include responses, only questions. The reason why users were able to see their own likes is because the visible like counts are calculated: { other people's likes } + { my likes }; the latter data was available, while the former was not.

This is ready

[2017-08-16 19:44] bree-z commented on #103
Thanks, Boone!  This looks good to me!

[2017-08-16 19:44] #103 closed

[2017-08-16 20:01] moui72 commented on #102
yep!

[2017-08-16 20:01] #102 closed

[2017-08-16 20:02] moui72 commented on #101
yep!

[2017-08-16 20:02] #101 closed

[2017-08-22 15:36] bree-z opened #104 "Course, section/faculty, and problem set filters only contain "Show All""
The answer filter is fine.  I tested this before importing any new questions from WW, and also after I'd imported a few problems, with the same result.  I tried clearing my cache (a few times), and tried on Firefox, Chrome, and Safari.

![filtersempty](https://user-images.githubusercontent.com/7189824/29573776-d3cb8858-872d-11e7-867e-b446bb4c8729.png)

[2017-08-22 20:46] boonebgorges commented on #104
Thanks for the details, @bree-z ! This is an odd problem that only crops up on the production site, because of the way that the client/server sites are configured there (on production, they're the same WP site, while on openlabdev they're different). I've just added a fix. Can you please verify the fix on production?

[2017-08-23 12:20] bree-z commented on #104
Looks good, thanks!

[2017-08-23 12:20] #104 closed

[2017-09-05 19:28] drdrew42 opened #105 "Another TeX rendering issue"
Related to closed issue #84

https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/3x3-Systems/triangular.pg:questionId=667

In the LaTeX "array" environment, ampersands are used to delineate separate columns to ensure vertical alignment. It seems these ampersands are being interpolated into HTML before being sent over to OL?

Here is the offending TeX code from the WW problem:
`\begin{ar

[2017-09-05 21:05] boonebgorges commented on #105
I think I've got this half-solved. Ampersands and array formatting should now be correctly interpreted. See https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/3x3-Systems/triangular.pg:questionId=667 (be sure to do a hard refresh)

It appears that formatting of most user questions is correct:
![screenshot_2017-09-05_16-01-58](https://user-images.githubusercontent.com/246627/30083384-d7

[2017-09-05 21:08] drdrew42 commented on #105
I noticed that! It doesn't seem to be an issue with more recently submitted questions... whatever it _was_ seems to no longer be an issue. (All questions from this problem set have literally the exact same formatting here.)

[2017-09-09 22:45] drdrew42 opened #106 "Deleting duplicate question causes errors"
I attempted to delete a duplicate question (literally the same question posted twice).

Now the remaining copy of the question does not load properly, and does not show up as "in-progress" either. Also, clicking on "show my problem" no longer reveals the WW problem, and the problem set from which this question originated has been removed from the dropdown menu (it should be ZeroProductProperty). I

[2017-09-12 01:02] drdrew42 commented on #106
Hmm, this link no longer seems to show the question I'm talking about - though manually finding the question from the ol-webwork site still has the same link...

I also noticed this question no longer has the problemsetname | course | section information displayed underneath the question...

![screen shot 2017-09-11 at 9 02 06 pm](https://user-images.githubusercontent.com/3912882/30303239-890b6b28

[2017-09-12 01:18] boonebgorges commented on #106
Yeah, it seems as if the problem metadata was lost. You can see this in the URL: the problemId parameter is empty. This is causing the other-questions-for-this-problem query to run incorrectly, which is why you're seeing the problems from the wrong sets.

I'll do my best to investigate this fully in the next day or two.

[2017-09-18 15:37] boonebgorges commented on #106
Sorry for the delay on this. It does indeed look like the `problem_id` metadata is missing from the database. This means that OL-WW is unable to show the metadata under the problem, and it also explains the malformed URL (which then returns unexpected results).

So, the question is why this metadata is missing. There are a couple places in the POST chain where this could happen. The most likely ca

[2017-09-18 18:17] drdrew42 commented on #106
Is it possible that the metadata for this question was accidentally removed when I deleted the duplicate copy of this question? Because that is what happened - the metadata for this question was present (for both copies of the same question) prior to deleting the duplicate.

1) No, I'm not aware of other questions from the same WW problem. I know that this question was asked from a new-this-semest

[2017-09-18 18:22] drdrew42 commented on #106
Timeline for this question is as follows:

1) I notice two copies of the exact same question on ol-ww. (same student text in each box: "my question" and "what I've tried")
2) I respond to one of the two copies.
3) I realize that "delete" is now possible - so I select the un-responded-to copy to delete.
4) After deleting the duplicate, the remaining copy no longer shows my response and has shifted

[2017-09-18 18:27] boonebgorges commented on #106
I assume that it does have something to do with it, but I don't really understand how it's happened. If there were actual duplicates - as in, two copies of the same question stored in the database - then deleting one should have nothing to do with the other one. Based on the timeline you've given, one possibility is that there was only one question, but some bug in the display layer was causing it

[2017-09-18 18:29] drdrew42 commented on #106
Sure, is our version synced up with the OL-testing site?  Just so that I'm not spamming our production site?

[2017-09-18 18:30] boonebgorges commented on #106
The versions of OL-WW should be the same in both places.

[2017-09-18 19:32] drdrew42 commented on #106
No luck on trying to recreate this error. I did successfully create a duplicate post, but I did not run into any issues (even when using a brand new problem set) when deleting one of the copies...

[2017-09-18 19:36] boonebgorges commented on #106
Thanks for testing.

Given that it's not easily reproducible, I'm unsure where to go next. I think we may have to wait for another such instance to crop up in the wild. @drdrew42 If you see more duplicate items on OL-WW, please don't deduplicate - report the details to me right away, and I'll see if I can draw some conclusions.

In the meantime, would it help the current situation if I manually re

[2017-09-18 19:39] drdrew42 commented on #106
https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/setZeroProductProperty/ZPP-binomials-medium.pg:questionId=743

Please use this question to repopulate the metadata.

[2017-09-18 19:39] drdrew42 commented on #106
It will have the correct problem set, section, professor, and library ID.

[2017-09-18 19:59] boonebgorges commented on #106
@drdrew42 Thank you sir! This should now be fixed. See https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/setZeroProductProperty/ZPP-binomials-medium.pg:questionId=691

[2017-10-16 17:29] boonebgorges opened #107 "File upload for question/answer fields"
For images and other supporting documents.

[2017-10-30 13:59] boonebgorges opened #108 "Accessibility review"
We need an accessibility review of OL-WW. At a glance, it doesn't look awful - a few missing 'alt' attributes and form labels, as well as a couple of contrast issues. Some attention should also be paid to interactive areas and aria-live.

[2017-12-14 20:50] boonebgorges commented on #108
I've finished an initial review.

The markup changes have been minimal. Avatars needed alt text, and a number of form elements (specifically, sidebar filters) needed labels.

In the interest of moving us along, I made a few judgment calls to get us compliant with contrast ratios. Screenshots follow. I'm happy to revisit any of these based on the feedback of @jennaspevack and others - I just though

[2017-12-14 20:52] boonebgorges commented on #108
Everything on http://openlabdev.org/webwork-playground/ is now passing WAVE's AA check, with the exception of a single image imported from WeBWorK, which is missing an alt tag.

[2017-12-14 20:52] boonebgorges commented on #108
(In logged-out state, that is.)

[2017-12-14 20:53] boonebgorges opened #109 "Accessibility review for logged-in state"
Previously: #108

We should do a WAVE review while logged in.

Special attention should be paid to dynamic areas, which will probably need `aria-live` labels. I'm not sure WAVE is smart enough to catch this.

[2017-12-18 02:08] jennaspevack commented on #108
Color/contrast changes look good to me. Thanks Boone!

[2017-12-18 16:18] boonebgorges commented on #108
Thanks, Jenna!!

I'll leave this ticket open for any necessary WAVE testing from the team.

[2017-12-19 17:53] boonebgorges commented on #39
A first pass at this is now ready to test. Newly imported questions containing images (http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CoordinatePlaneTrig/1/?effectiveUser=bgorges&key=K0tQJiYnMewkgRHIfagewmJokX5KmNSo&user=bgorges is an example) will trigger WP to import the image, and then swap out the URLs in the Problem Text HTML so that they point to the WP version of the image.

I haven't yet

[2017-12-20 03:15] boonebgorges commented on #39
I've written a script that attempts to download images for old posts. See eg http://openlabdev.org/webwork-playground/#:problemId=local/ShiftingParabolas/shift-down.pg:questionId=11501, which has now been moved over to webwork-playground.

The script is as follows:

[code]

[2017-12-20 03:40] boonebgorges commented on #39
Regarding the third checkbox at the top ("Ensure that if the problem text used as the "primary" text...") - This was meant to address a concern stated (by Andrew or Jonas, I can't remember which) that there might be a problem that has some questions whose WW images have been deleted, but others whose WW images can be imported. I have just run a script (on the production site data) to check this, a

[2017-12-20 03:42] boonebgorges commented on #39
I believe we are ready for testing. Briefly:

1. Find a WW question with an image. "ask for help", and then make sure that the question you create has problem text that contains an image stored on openlabdev.org and not the WW site.
2. Look through old questions (on openlabdev.org) to make sure you don't see any images still stored on the WW site. http://openlabdev.org/webwork-playground/#:problem

[2017-12-20 18:15] boonebgorges commented on #39
Thought more about my point 2 above and I think I'm incorrect - the concern is that *future* questions (which *will* have their images imported) will be posted to problems that have existing questions with *unimported* questions. So this bit of logic still needs to be written. I'll work on it.

[2017-12-21 15:51] boonebgorges commented on #80
I've determined that this is a more general Safari problem, affecting both iOS and OSX. WP is never receiving a POST request to begin with, which, at least on the dev site, is a regression from #79.

I have a suspicion that it's a problem only for our dev site, because of the way that Safari handles form submissions that contain HTTP authentication. @drdrew42 -  questions for you:

1. Have you hea

[2017-12-21 17:00] boonebgorges commented on #80
@drdrew42 - thanks for sending the credentials! I can now confirm that the POST/GET problem is specific to the dev server (so no problem with #79 on production) but the URL fragment is still being lost. This gives me enough info to debug.

[2017-12-21 23:37] boonebgorges commented on #80
@drdrew42 - thanks for sending the credentials! I can now confirm that the POST/GET problem is specific to the dev server (so no problem with #79 on production) but the URL fragment is still being lost.

I just put in place a kinda insane but, apparently, working fix. Here's the high-level rundown:
- On wp-login.php, if it's detected that the `problemId` info is included in the `redirect_to` param

[2018-01-02 20:37] boonebgorges commented on #39
I've implemented the fallback logic described in the third checkbox above. Briefly: If the "primary" question associated with a problem contains unimported images, then check to see whether another question associated with that problem has had the images imported successfully; if so, show the text of that problem instead.

In order to test this on webwork-playground, I had to manually modify some

[2018-01-02 21:23] boonebgorges commented on #14
I've put some logic into place that ensures tha the return URLs are saved at the time of question creation.

But I'm not yet displaying this info. I think we'll need mockups for what these links look like and where they appear, and especially *to whom* they appear. In many (most?) cases, the question viewer will not have access to the WW course that the URL points to, and it seems like we wouldn't

[2018-01-02 21:24] boonebgorges commented on #13
We already do the first and third items described above, so I think we just need to do the second. That feels very low-priority, though, because it'll only happen in cases where someone who's already asked a question about a specific problem goes to ask *another* question about it.

[2018-01-02 21:25] boonebgorges commented on #83
I'm going to suggest that we do nothing here. It introduces too much room for error. It makes no difference from the front end, since orphaned replies would never be shown out of context.

[2018-01-04 20:12] bree-z commented on #80
@drdrew42 could you please send creds (and URL, just to be sure I'm testing the right thing) to work@bree.bz?

thanks!

[2018-01-04 20:15] drdrew42 commented on #80
I believe the course you're looking for is http://mathww.citytech.cuny.edu/webwork2/MAT1275/

I'll email the credentials.

[2018-01-04 20:22] bree-z commented on #80
Thanks @drdrew42!

[2018-01-04 20:48] bree-z commented on #80
I think this is working for me.  I went to the site above in Safari, and after clicking 'Ask for Help' the login page opened with following URL:

https://openlab.citytech.cuny.edu/ol-webwork/wp-login.php?redirect_to=https%3A%2F%2Fopenlab.citytech.cuny.edu%2Fol-webwork%3Fpost_data_key%3Dwebwork_post_data_bfc4d4bde72ce1abf49141c912e246f0%23%3AproblemId%3Dlocal%2FReducingRationalExpressions%2FmonoDen

[2018-01-04 21:07] bree-z commented on #39
Sorry, I'm still a little confused by this one!  @moui72 perhaps you want to take a look?  Otherwise, we might need more instructions.

[2018-01-04 21:14] boonebgorges commented on #39
Hi @bree-z - Sorry, the last part of this one is very complicated, but the first part is not. The most important thing to test on this ticket is that when starting with a WW question that contains images, the problem text on the WP site (after the question has been saved) should contain a copy of the image that is served from the WP site.

[2018-01-05 02:33] boonebgorges commented on #80
Yes, this sounds good. Thanks for verifying, @bree-z !

[2018-01-05 02:33] #80 closed

[2018-01-05 15:11] bree-z commented on #39
Ok, thanks @boonebgorges!  That part is working for me.

E.g., I asked [this question](http://openlabdev.org/webwork-playground/#:problemId=local/GraphingSineCosine/function-graphing-period.pg:questionId=11666), and the image URL is: http://openlabdev.org/wp-content/uploads/2018/01/5f857248-3fdc-335c-b30b-a6e40fefe79a___7edb8295-3673-3e89-aca0-60a2aa2f6bd1.png

I got the same result for a few othe

[2018-01-05 15:34] bree-z commented on #108
I did a WAVE test, and see the following errors:

* 9 images with missing alt text (all from questions/images posted this week).
* 1 missing form label (from [this question](http://openlabdev.org/webwork-playground/#:problemId=local/GraphingSineCosine/function-graphing-period.pg:questionId=11666), which has a dropdown at the bottom for the question "﻿Which graph matches the given function?")

I al

[2018-01-05 16:07] boonebgorges commented on #108
Thanks, Bree - if I understand correctly, all of the current errors (missing alt text and missing form label) are errors in the source content on WeBWorK. As a general rule, there's not much we can do in an automated fashion to fix the markup that comes from WeBWorK - it must be fixed there instead.

In the case of problem images, I *could* generate some dummy text - something like "Image for prob

[2018-01-05 19:39] bree-z commented on #108
Thanks, Boone!  That's what I thought re content from WeBWorK, but thought I'd mention it just in case.  :)

I don't know what's involved in fixing it on the WeBWorK side, but that seems like the more effective thing to work towards rather than generating dummy text; not sure what others think though.

And, the contrast errors are all gone!

[2018-01-08 18:02] #39 closed

[2018-01-08 18:02] #108 closed

[2018-02-20 02:34] boonebgorges opened #110 "Better duplicate detection"
See https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/possible-bug-2/.

https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/SimplifyingRadicals/simplify-long-monomial.pg:questionId=947 and https://openlab.citytech.cuny.edu/ol-webwork/#:problemId=local/SimplifyingRadicals/simplify-long-monomial.pg:questionId=946 are dupes. 946 appears to be the corr

[2018-02-27 19:22] boonebgorges opened #111 "referer URL parsing should ignore 'show_me_another' string"
Copying from https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/new-issue/:

===

Sorry to add to the complications, but I have been encouraging faculty to enable the “Show Me Another” feature of WeBWorK this semester. (It wasn’t working properly before, but I’ve sorted out the underlying conditional logic now.) The Show Me Another feature allows students to p

[2018-02-27 19:26] boonebgorges commented on #111
Essentially, yes. https://github.com/livinglab/webwork-for-wordpress/blob/6c42c0243971e7ffd9fdc780accc62b0765b2802/classes/Server.php#L218

I feel like I did it this way originally to account for some difference between the production site URL and the URL of the testing site, but I'll have to dig back through the code to see. In any case, it shouldn't be a problem to fix the logic.

Once this is d

[2018-02-27 19:28] boonebgorges opened #112 "Don't inherit 'course' and 'section' as fallback values on new questions"
See https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/possible-bug-2/ and especially https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/possible-bug-2/#post-47455 for background.

[2018-02-27 19:30] boonebgorges opened #113 "Improved sort for Section filter dropdown"
Should be sorted by:
1. Chronological DESC. Use FXX/SXX to determine dates.
2. Alphabetical ASC within a given term.

See https://openlab.citytech.cuny.edu/groups/openlab-webwork-integration-project/forum/topic/possible-bug-2/ for more background.

[2018-04-19 18:47] boonebgorges opened #114 "Design updates"
See https://www.dropbox.com/sh/ibelqxkpebe7xl1/AACVt7wutZE7O5f_yzPzlZkxa?dl=0

[2018-04-19 18:48] boonebgorges opened #115 "Localization"
Strings are not currently localizable.

[2018-04-19 18:50] boonebgorges opened #116 "Bring WP theme under plugin"
The theme is currently stored separately, which is a huge pain. It would be nice to merge it into the plugin. This can be done using WP's `register_theme_directory()`, but this is somewhat limited because the theme is a child of Hemingway, which we can't ship with the plugin.

I may go with `register_theme_directory()` in the near-term, and then add some mechanism in the future that enforces the i

[2018-04-19 19:25] boonebgorges commented on #114
I've made these changes, but it might be best to hold off on testing them until after a review of #109.

[2018-04-23 20:57] boonebgorges commented on #107
A first pass at this functionality is available on openlabdev.org/webwork-playground. I had to make a couple design/workflow decisions, all of which are subject to revision by the group. Screencast: https://recordit.co/scbydfBvAo

1. I opted to integrate with the WP media dialog rather than building something different. This has a couple advantages. It's familiar to users; it gets us automatic mob

[2018-04-23 21:09] boonebgorges commented on #107
A brief follow-up that I have, for the time being, limited upload formats to image files. Non-image files cannot be displayed inline; they'd have to be converted to links. Since other types of uploads probably aren't super important for v1, I've put the image-only limitation in place. We can revisit this.

[2018-04-24 03:30] drdrew42 commented on #107
Having issues with drag-n-drop on the playground. Saving a file to my computer then uploading via "select files" worked fine though.

[2018-04-24 03:32] boonebgorges commented on #107
recordit.co appears to be down. You get what you pay for.

I didn't even think to try the drag-and-drop, as it comes directly from WP. Can you test to see whether it works as expected at Dashboard > Media > Add New?

[2018-04-24 03:37] drdrew42 commented on #107
It doesn't seem to work there either. Safari 11.0.1 on macOS 10.13.1

[2018-04-24 14:01] boonebgorges commented on #107
Hm, drag-and-drop works for me Safari 11.0.2 OSX 10.13.2. After our call next week, we'll talk through the process of browser testing etc.

[2018-05-01 16:07] boonebgorges opened #117 "Discourage question posting without "What I've Tried""
We want to discourage posting new questions without having filled in the "what I've tried" field. Here's the proposal:

1. If you fill in a question but `tried` is empty, and you click Submit:
    - the question will not be submitted
    - a message will appear, perhaps just above the Submit button, along the lines of "You haven't described what you've tried ... did you know you can take a picture

[2018-05-01 16:11] boonebgorges opened #118 "Discourage/prevent image insertion without alt text"
Previously: #107

[2018-05-01 16:45] boonebgorges opened #119 "More flexible way for course list to be generated"
Instructor email notifications - the emails that are sent to a teacher when a question is posted in his/her courses - require a mapping of course IDs to instructor email addresses. See #69. This works currently by the `webwork_section_instructor_map` filter, which maps course *names* to instructor *emails*; the OpenLab has a callback attached to this filter that provides this data. This is not a v

[2018-05-01 16:47] boonebgorges commented on #14
Given my comment above, I'm not sure this is something we can solve at the moment. For one thing, we would need more information about course membership and other metadata about courses, as well as relationships between WW users and WP users. See #119. In addition, we've got a lot of design stuff slated for Fall 2018 and don't have time at the moment to consider additional elements. Let's shelve a

[2018-05-01 19:10] boonebgorges commented on #118
This turns out to be a moderately difficult technical task. I've attached a gif of a first pass at an error workflow. If we think that some version of this is worth doing, the next step is likely for @jennaspevack to make some suggestions about better styling/wording.

![peek 2018-05-01 14-05](https://user-images.githubusercontent.com/246627/39488917-6d8a2544-4d49-11e8-86bb-b722ae6f7f88.gif)

[2018-05-01 19:13] boonebgorges commented on #118
(I've pulled the changes to the webwork-playground environment so that you can test in a live environment if that's easier.)

[2018-05-01 20:54] drdrew42 commented on #117
Proposed "nudge" message:

Is 1st person plural an acceptable voice? ;P

[2018-05-01 21:08] drdrew42 commented on #119
This might just be another kludge - but we could utilize one of the as-yet unused fields (`section` or `recitation`) in the [class list DB](http://webwork.maa.org/wiki/Classlist_Files#.WujUcbaZN24) to hold information about the instructor until an API is online. The question is whether or not these fields appear in the data being sent over to OL-WW...

This structure would also address the issue t

[2018-05-02 01:33] boonebgorges commented on #109
I've made a pass through the logged-in states and made a number of improvements.

- I've added `aria-live` and related regions to the dynamic parts of the application (`aria-busy`, `aria-atomic`). I did some light testing using VoiceOver and this appears to be working as expected.
- The aXe scanner does a better job of scanning for form labels in JS-powered form elements, like our select boxes, th

[2018-05-02 02:34] boonebgorges commented on #111
This has been fixed in the codebase, and the instances on the production site have been cleaned up.

@drdrew42 Is it easy for you to create a problem on the WW-Dev server that has a show_me_another URL? This would make it possible for the team to test. Otherwise you'll have to take my word for it that it's fixed (I've tested locally).

[2018-05-02 02:44] boonebgorges commented on #112
I've made the change. Questions that are created directly through WW - ie, by browsing from the home page, clicking on a question, then scrolling to the top of the question page and posting a new item, rather than clicking 'Ask a Question' in WW - now have no `course` or `section` set.

[2018-05-02 14:53] drdrew42 commented on #113
I have "testing" courses set up for Tyler and Bree, I may have to remind them of their logins and the URL for these hidden courses... but that's a way we can get multiple sections involved.

[2018-05-02 15:03] boonebgorges commented on #113
Thanks, @drdrew42.

I've also attached a screenshot from my local if it helps.

![screenshot_2018-05-02_09-58-36](https://user-images.githubusercontent.com/246627/39531108-14cb5714-4df0-11e8-89a4-b1d8b7ce62f1.png)

[2018-05-02 18:36] drdrew42 commented on #111
The show me another feature has now been enabled in WW-Dev.

[2018-05-04 18:29] jennaspevack commented on #109
@boonebgorges I think 555555 would be good for question-course-data and for .ww-subtitle section, which seems to pass WAVE checker, but not the actual contrast ratio. Maybe that has to do with the font size.

Also noticing that the link color on the Help and About pages is still light green, which doesn't pass. That should be the same blue 0044af as the home page.

[2018-05-04 19:07] boonebgorges commented on #107
Thanks for the detailed report, @jennaspevack. There were a couple issues. First, I'd forgotten to ensure that non-admins can add alt text to all their images - this was causing a number of the breakages (like the fact that the modal didn't close after clicking Insert, which is what led to the multiple entries in the textbox when you manually closed it). I believe I've now fixed this. I also addre

[2018-05-04 19:17] boonebgorges commented on #109
Thanks, @jennaspevack - I've made the #555 changes, and also changed the selectors so that the link color should be consistent throughout.

[2018-05-07 21:40] jennaspevack commented on #107
@boonebgorges, I'm still seeing the multiple 'you must add alt text' warnings, but the multiple entries seems to be fixed.

Here is a mockup with visual adjustments to the Add Images link (See item 2.) I think it would be confusing to use Files if it really is only limited to images, but maybe @drdrew42  can confirm that and also the final message copy. Item 4. in this mockup is also relevant to t

[2018-05-07 21:56] boonebgorges commented on #107
Thank you very much @jennaspevack !

I've made the styling changes. These changes also included the Edit icon, since it's defined in the same place as the Preview icon. (I've ignored the other stuff in the mockup.)

I can't reproduce the multiple warnings. I'm guessing you've got a sticky browser cache. Try in an incognito window, and if it's still happening, please give exact steps to duplicate.

[2018-05-07 21:56] boonebgorges commented on #107
Screenshots:

![screenshot_2018-05-07_16-54-41](https://user-images.githubusercontent.com/246627/39727257-9b2907c2-5217-11e8-95f7-b184294f4f98.png)
![screenshot_2018-05-07_16-54-29](https://user-images.githubusercontent.com/246627/39727258-9b388792-5217-11e8-9546-ec751b5dfc57.png)

[2018-05-07 21:57] jennaspevack commented on #117
@boonebgorges, here's a mockup with suggested visuals for this flow.  See item 1.
https://www.dropbox.com/s/e8i2ricwn16o7xt/OLWW_LAYOUT_PROBLEMPOSTV6.png?dl=0

@drdrew42, The message is a bit long. Does something like this work? 'You haven't described what you've tried. Did you know you can upload an image of your work?' It would be good to keep it short to keep the same font size as the Submitted

[2018-05-07 22:04] jennaspevack commented on #114
@boonebgorges, not sure if these css updates will address this, but it appears that the site logo on Production is cut off.  And it also looks like there are some CSS conflicts (?) with the WP Navbar - ie: the spacing between menu items in the dropdowns are off.
https://www.dropbox.com/s/l6lz7q2y4nvu9wz/cssconflictswithWPnav.png?dl=0

[2018-05-07 22:14] jennaspevack opened #120 "Hover states"
@boonebgorges, sorry these were left out of the original mockup. Fine to move for future release, but thought I'd add them here, just in case. See item 3.
https://www.dropbox.com/s/e8i2ricwn16o7xt/OLWW_LAYOUT_PROBLEMPOSTV6.png?dl=0

[2018-05-07 22:44] boonebgorges commented on #120
No problem, @jennaspevack. I've added them as part of 2b9a895; see #117.

[2018-05-07 22:58] boonebgorges commented on #114
Yes, I'd noticed this, Jenna.

I did fix the header issue as part of the changes in this ticket. From what I can tell, it was due to an update in the Hemingway parent theme. I just put that small fix onto the production site so that you can see it in action.

The issues with the adminbar seem more complicated. I believe it's probably a more general problem than ol-webwork - it seems like the styli

[2018-05-08 03:35] jennaspevack commented on #109
Thanks, @boonebgorges - looks like we need to change the hover state for consistency too. It's just black.

[2018-05-08 03:36] jennaspevack commented on #114
Okay, thanks!

[2018-05-08 03:44] jennaspevack commented on #120
Okay, thanks!

[2018-05-08 15:44] jennaspevack commented on #109
Sorry, @boonebgorges I was referring to the links on About and Help. You had changed the link color from light green to 0044af blue above, but the hover associated with those links is still teal. I believe the color is 1abc9c.  It should be changed to black.
<img width="514" alt="screenshot 2018-05-08 11 43 26" src="https://user-images.githubusercontent.com/22797200/39767590-20545ab2-52b5-11e8-9fc

[2018-05-08 17:59] boonebgorges commented on #109
Ah yes, thank you!! Fixed.

[2018-05-08 20:33] jennaspevack commented on #117
Looks good.

The hover state for the submit button in "interstitial space" wasn't added, but maybe that's because I put a ? next to it. :)

I was able to submit a question without adding any content in either boxes. Should we be preventing that?
http://openlabdev.org/webwork-playground/#:problemId=local/ShiftingParabolas/shift-down.pg:questionId=11697

[2018-05-08 20:42] boonebgorges commented on #117
Whoops, no, I just didn't understand what you'd written :) I've added the styling.

Perhaps, though is this an actual problem? It makes the logic a lot more complicated. If we decide we need to fix this now, we'll need a new description of the flow. Maybe we could use the "error" space ("You haven't described...") but show different text, and then presumably we would *not* allow 'Submit' to be cli

[2018-05-24 07:27] bree-z opened #121 "'Home' link in menu should be blue"
It looks like the blue color is being overridden so that the 'Home' link in the menu is being styled as white.

![homelink](https://user-images.githubusercontent.com/7189824/40430902-d6889e7e-5eae-11e8-8d2e-1e239bdca03d.png)

![homelinkhover](https://user-images.githubusercontent.com/7189824/40431036-327bda66-5eaf-11e8-8e57-dfcf7331cf00.png)

[2018-05-24 07:49] bree-z commented on #117
Functionality is working as expected, and the UI matches the comps.

As for blocking users from submitting an empty question, I think ideally we might want to do that, but if it's not something that students are doing, perhaps it can wait?

[2018-05-24 07:57] bree-z commented on #120
This looks good!

[2018-05-24 07:57] #120 closed

[2018-05-24 08:49] bree-z commented on #107
Hi Boone,

Here's what I've found after some testing:

- The layout of the text in the Upload Files tab of the media dialog box is misaligned.  I see this in Chrome, Firefox, and Safari.

<img width="1237" alt="attachfilestext" src="https://user-images.githubusercontent.com/7189824/40474162-f5614416-5f46-11e8-9760-7a279becc129.png">

- I was able to reproduce Jenna's multiple image entries bug, bu

[2018-05-24 13:07] boonebgorges commented on #107
@bree-z Thanks. The double entry thing is because you're clicking 'Insert' more than once, which you're likely doing because the window isn't closing, which is likely happening because of some JS error. Can you do the following please:

1. Hard-refresh your browser, just to be sure you've got the latest JS and CSS
2. Open the JS console in your browser
3. Run through this process again, and note w

[2018-05-24 13:42] bree-z commented on #107
Thanks, Boone.  I did a hard refresh, and here's what I found:

- If I didn't add alt text and the alt text warning was triggered, I was able to add the image as expected.
- If I did add alt text, and the warning didn't appear, the media window didn't close after inserting the image.  Screenshot of the console below (chrome and firefox):

<img width="1279" alt="console" src="https://user-images.gi

[2018-05-24 14:00] boonebgorges commented on #107
Perfect, those steps are just what I needed. I'll have a look. Thanks!

[2018-05-24 14:31] boonebgorges commented on #107
Thanks again for the clear steps to reproduce, @bree-z - I've just pushed up a fix for this.

[2018-05-24 14:52] boonebgorges commented on #121
Thanks, Bree. As you can see, all styling on this page is messed up. It turns out that the problem was a missing `}` in the style.css stylesheet. I'm doing some weird voodoo to allow us to test the theme on openlabdev.org without also including the changes in the June release of the OpenLab, and it looks like I botched a merge. I've made the manual fix and it appears that things are now showing up

[2018-05-25 07:18] bree-z commented on #107
Thanks, Boone!  This looks good!  The issue with the window closing is fixed, as well as the upload files styling issues.

[2018-05-25 07:39] bree-z commented on #113
Hi @drdrew42 -

I'm able to log in to WW-Dev, but I'm not sure how to find different courses.  If I click on Courses in the left sidebar nav it takes me to the list of actual live courses (http://mathww.citytech.cuny.edu/webwork2/).  Or is it easier to test on production after the release?

Thanks!

[2018-05-25 07:47] bree-z commented on #112
Sorry, I'm unsure where I should be posting a new item on WW-dev to test this.  @drdrew42 or @boonebgorges could you send a screenshot or URL, please?  Sorry if I'm being dense!  Thanks!

[2018-05-25 07:49] bree-z commented on #118
Functionality is working well.  Does this still need design input from @jennaspevack ?  Thanks!

[2018-05-25 11:30] bree-z commented on #111
I think this is working, but just to verify here are the URLs for the problem I was testing with:

**WW-Dev problem URL:** http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CoordinatePlaneTrig/5/show_me_another/?key=pu5cqsAaYd3fHfE8ITES5UUCXFyPwTAF&effectiveUser=student1&user=student1
**URL with user key:** http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_4055b3b1e983204c0d8

[2018-05-25 13:55] drdrew42 commented on #113
You have a separate course from long ago - it's unlisted on the public-facing "courses" page...

http://mathww.citytech.cuny.edu/webwork2/MAT9999-S17-Zuck

IIRC, your login and password are both 'bzuck'

[2018-05-25 14:00] drdrew42 commented on #112
This is regarding the posting of questions without coming directly from WeBWorK? In other words, any questions _other than_ those that come from "ask for help"...

[2018-05-25 14:18] boonebgorges commented on #121
Good spot. This should now be fixed.

[2018-05-25 14:19] boonebgorges commented on #112
@bree-z Not being dense! This is confusing. @drdrew42 is correct - this is for when you create a question via browsing through the OL site, as opposed to clicking 'Ask for Help'.

[2018-05-25 14:21] boonebgorges commented on #118
It would be nice to get thoughts from @jennaspevack, even if it's just "that looks good" - the main reason being that we may want to adapt this change for the OpenLab more generally at some point. (The main design points are: 1. the wording, styling, placement of the 'You must supply...' message, and 2. the red outline on the 'Alt Text' input field.)

"Looks good for OL-WW, may need more revision

[2018-05-25 14:23] boonebgorges commented on #111
This looks good to me, @bree-z. The key thing you'll see in the interface is that the Course/Section info is correct (as opposed to 'show_me_another'). See screenshot:

![screenshot_2018-05-25_09-22-23](https://user-images.githubusercontent.com/246627/40549494-36b874be-5ffd-11e8-8b00-1856eeb787d3.png)

If this is confirmed, I think this ticket's ready to close.

[2018-05-25 15:36] bree-z commented on #111
Aha, thanks.  I actually don't see any course/section or other info in the bottom corner.

![showmeanother](https://user-images.githubusercontent.com/7189824/40553172-8afd688e-604a-11e8-8ff2-ca184221b528.png)

WW URL: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CoordinatePlaneTrig/3/show_me_another/?user=student1&key=7UdrBsxzdqTYKRQvlD9KaLT9DXUNSQeY&effectiveUser=student1
Problem URL: http://o

[2018-05-25 15:41] bree-z commented on #111
Oh, wait, sorry, maybe I was looking in the wrong place. Here's what it looks like from the homepage, where the problem set appears, but no course info:

<img width="708" alt="screen shot 2018-05-25 at 6 39 32 pm" src="https://user-images.githubusercontent.com/7189824/40553358-0d645bf2-604b-11e8-8fc2-c596db0e42de.png">

[2018-05-25 15:50] bree-z commented on #112
Ok, great, thanks!  :)

This time I went to the OL-WW site and asked a question without going through WW-Dev.  It did not include any course/section information.

<img width="704" alt="screen shot 2018-05-25 at 6 48 31 pm" src="https://user-images.githubusercontent.com/7189824/40553814-773defc4-604c-11e8-8a4e-404e2afe904c.png">

[2018-05-25 18:52] boonebgorges commented on #111
Hmm... I just tested and it's working properly for me.

![screenshot_2018-05-25_13-50-33](https://user-images.githubusercontent.com/246627/40561397-b957a5aa-6022-11e8-9f9b-ff0e16a34e95.png)

(coming from http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CoordinatePlaneTrig/1/?key=i58zyGuEQXdIOj59iUimPVlnule0c2pD&effectiveUser=bgorges&user=bgorges, though I also tried with Problem 3 and it's working

[2018-05-27 19:54] moui72 commented on #114
as far as I can tell, the issues with design seem resolved -- is there any specific testing that needs to be done?

[2018-05-27 20:00] moui72 commented on #109
I'm getting 0 contrast errors now.

There are mark-up errors associated with images imported from webwork not having alt-text. See e.g., http://openlabdev.org/webwork-playground/#:problemId=local/CoordinatePlaneTrig/identify-quadrant.pg:questionId=11900

[code]

Could we perhaps add an alt tag that reads something like "Image for [problem]" where [problem] is replaced with something like the title

[2018-05-28 07:34] bree-z commented on #112
I think this one can be closed.

[2018-05-28 07:34] #112 closed

[2018-05-28 08:11] bree-z commented on #111
Could it be a Firefox problem?  I noticed that I was seeing the same lack of course information even when I wasn't on an "Ask me another" question.  So, I tested in Chrome and got all the course/question info.  But when I use Firefox I don't.  I tried manually clearing all browser data and restarted FF, but I still see the same thing.

Here's the same question asked in Chrome and FF:

![showmeanot

[2018-05-28 08:19] bree-z commented on #113
Thanks, @drdrew42 !

@boonebgorges , when I ask a question from MAT9999-S17-Zuck, the question appears on the OLdev WW site with the correct course/section information, but it doesn't appear in the dropdowns.

<img width="1183" alt="filters" src="https://user-images.githubusercontent.com/7189824/40604723-b2d9feb0-6268-11e8-9d9f-4d1fd7c00f8a.png">

There are a few questions on the site now from the

[2018-05-28 11:53] boonebgorges commented on #114
As long Bree and Tyler are happy with things here, I think we can safely close. Thank you!

[2018-05-28 11:53] #114 closed

[2018-05-28 11:55] boonebgorges commented on #109
We've leaned against doing this elsewhere on the OpenLab because, while it might fool the WAVE scanner, it doesn't actually provide any accessibility benefits. Any text that we can build programatically is likely to contain no info that would be useful to someone using a screen reader. @bree-z and @jennaspevack Does that sound correct?

[2018-05-28 12:06] boonebgorges commented on #111
@bree-z Ah, interesting theory. But I just tested with Firefox and course information was parsed as expected.

I also did some testing to see if this had to do with the login redirect (initiating the Ask while logged out on the OL), but that doesn't seem to make a difference on my end either.

Shot in the dark, but maybe you're running some FF extension that's causing the information not to be par

[2018-05-28 12:40] bree-z commented on #111
Thanks, Boone.   Course information was _not_ being parsed properly in the case of regular WW questions (non-Show Me Another questions).

I just went to test now though and when I ask a question from WW-Dev, the OL WW site doesn't open, I just end up the homepage of openlabdev.org.  I tried a few different ways -- not logged in, logged in in another tab, and logged in and also with the OL WW site

[2018-05-28 12:48] bree-z commented on #111
Also, in case it's helpful, I don't have any privacy extensions activated.  The only add-ons I have are Cisco WebEx and Nimbus Screen Capture.

[2018-05-28 13:54] boonebgorges commented on #111
Thanks. This is also probably a remnant of the config change.

@drdrew42 Could you please make sure that the WWDev configuration is set so that Ask For Help is sent to `http://openlabdev.org/webwork-playground/?webwork=1`? Currently I believe the `webwork-playground` part of the URL is absent.

[2018-05-30 07:18] bree-z commented on #111
Just pinging this again, since we can't test the WeBWorK-OL interface.  @drdrew42 could you take a look at the WWDev configuration when you get a chance?

Thanks!

[2018-05-30 14:30] bree-z commented on #121
Thanks Boone!  This is fixed, but it looks like the dropdown menu doesn't appear on hover.

[2018-05-30 14:38] bree-z opened #122 "Can't add alt text on mobile"
I can add images on mobile, but I can't add alt text.  There's nowhere to add it when I upload and after I click the Insert button, I get the message "You must supply alt text..." but there's no alt text field to add it.

I'm using iPhone 7, iOS 11.3.1.

![mobile_alttext](https://user-images.githubusercontent.com/7189824/40727197-0d04a5ac-6430-11e8-826a-6eb5de2b83b8.png)

[2018-05-30 14:43] bree-z opened #123 "Preview link misaligned on mobile"
On mobile, the 'Preview' link for a question/response overlaps with the text box field.  Also, the 'Add Images' link overlaps with the "Describe what you have tried" text.

![previewlinkmobile](https://user-images.githubusercontent.com/7189824/40727415-82a6e3e2-6430-11e8-93a5-dfec5e096ff7.jpg)

![img_7150](https://user-images.githubusercontent.com/7189824/40727566-d086f99e-6430-11e8-96f3-8cf661149

[2018-05-30 14:44] bree-z commented on #123
iPhone 7, iOS 11.3.1

[2018-05-30 14:44] boonebgorges commented on #121
Blerg, the nightmare continues. I've just pushed a fix.

[2018-05-30 14:46] bree-z commented on #121
Looks good, thanks!

[2018-05-30 14:46] #121 closed

[2018-05-30 15:12] boonebgorges commented on #122
Thanks for the report and screenshot. I believe I've fixed - please have a look.

[2018-05-30 15:18] boonebgorges commented on #123
Thanks, Bree. I've just pushed up a suggested fix. See screenshots (<500px only; wide screens remain the same). @jennaspevack Does this look acceptable for now, or do you want to have a go at it?

![screenshot_2018-05-30_10-16-39](https://user-images.githubusercontent.com/246627/40729746-b5eb1252-63f2-11e8-88ec-fdc6d5f12e67.png)
![screenshot_2018-05-30_10-16-29](https://user-images.githubuserconte

[2018-05-30 19:48] moui72 opened #124 "Banner overflow on mobile view"
At view widths < ~580px the banner begins to slightly overflow the viewport.

![screenshot_2018-05-30-15-39-32_20180530154536](https://user-images.githubusercontent.com/3885628/40743904-d6e27e22-6420-11e8-8570-c1c109bd2a00.jpg)

[2018-05-30 19:58] moui72 opened #125 "Mobile layout suggestions"
I think that the smallest breakpoint should be extended to slightly larger viewpoints. I'll refer to breakpoints using the bootstrap convention: the smallest breakpoint "XS", then "SM", "MD", "LG" "XL"

Here's what I mean:

The "XS" breakpoint looks great:
![image](https://user-images.githubusercontent.com/3885628/40744159-c323953c-6421-11e8-8fc5-028ff91d0de9.png)

The "MD" also looks great
![imag

[2018-05-31 01:53] drdrew42 commented on #111
Sorry I missed this - there have been quite a few github emails to parse through. This one fell through the cracks. Is it working with WW-Dev as expected?

[2018-05-31 02:37] boonebgorges commented on #111
Looks like it's working properly - Bree should confirm!

[2018-05-31 07:47] bree-z commented on #111
Thanks @drdrew42 !  It's working with WW-Dev, but not with http://mathww.citytech.cuny.edu/webwork2/MAT9999-S17-Zuck .

Thanks!

[2018-05-31 08:07] bree-z commented on #122
Thanks, Boone.  Unfortunately image uploads seems to have broken. The 'Select Files' button isn't working on desktop or mobile.  And when I try to drag and drop on desktop, it just opens the image file in my browser tab but doesn't upload it.

[2018-05-31 08:17] bree-z commented on #111
And for @boonebgorges debugging:

I still see the same lack of Course/Section info for the question.

WW-Dev URL (clicked Ask for Help at 4:11am EDT): http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ParabolaVertices-VertexFormula/2/?key=QRoj4pi4PsMEXQA3cnYI69PU0rvkY7du&user=student1&effectiveUser=student1

OL-WW URL (posted question at 4:12am EDT): http://openlabdev.org/webwork-playground/#:proble

[2018-05-31 13:31] boonebgorges commented on #111
Thanks, Bree. Unfortunately, the debugging didn't catch anything interesting - from what I see in the logs, it should've worked. I'm also still unable to reproduce.

I've just put a bit more debugging in place. When you get a chance, please try again, and pass along the timestamps.

If anyone else could confirm that this problem exists or does not exist - with a different user, different computer,

[2018-05-31 13:41] boonebgorges commented on #124
Thanks for the screenshot. I don't know that I have comps for what this ought to look like. I've added some styles so that the header shrinks at smaller sizes.

![screenshot_2018-05-31_08-41-05](https://user-images.githubusercontent.com/246627/40785570-6b450782-64ae-11e8-86c1-e7406d067caf.png)

[2018-05-31 13:48] boonebgorges commented on #125
I made the adjustments locally and I agree that it looks better in most places. Some screenshots are below. I'll cc @jennaspevack so she can give it a think. This is likely the kind of thing we'd want to tackle in a future term, so that we can have time for a full review at various breakpoints (there's bound to be wonkiness).

![screenshot_2018-05-31_08-46-13](https://user-images.githubusercontent

[2018-05-31 13:48] bree-z opened #126 "Preview link misaligned when editing a question (desktop)"
When editing an existing question, the preview link overlaps with the question and describe fields.

<img width="726" alt="screen shot 2018-05-31 at 4 40 23 pm" src="https://user-images.githubusercontent.com/7189824/40785792-227f9258-64f2-11e8-9f27-b5385087fc61.png">

[2018-05-31 14:01] boonebgorges commented on #126
The placement of these buttons could use a full design review, because the interface differs slightly between Question, Response, and Edit modes (especially the way that the buttons must interact with the label text, like 'What is your question?'). I've made some adjustments so that the buttons break onto their own line in cases where it feels appropriate. Screenshots below. I think we should get

[2018-05-31 14:45] bree-z commented on #111
Sure @boonebgorges .  Here's a new one:

WW-Dev URL (around 10:35 or 10:36 am EDT): http://mathww.citytech.cuny.edu/webwork2/WW-Dev/ZeroProductProperty/2/?user=bzuckerman&key=E7WydlqdRqfmTaczHNXExXb3OE1q2Zt9&effectiveUser=bzuckerman

OLdev URL (around 10:38am): http://openlabdev.org/webwork-playground/?post_data_key=webwork_post_data_3777f35e9672efc2bf218bc62acaf585#:problemId=local/setZeroProduct

[2018-05-31 14:57] boonebgorges commented on #111
Thanks for bearing with me, @bree-z. This round of testing suggested that Firefox is stripping the path off of the HTTP_REFERER header when redirecting to OL-WW. When I googled that hunch, I got this: https://blog.mozilla.org/security/2018/01/31/preventing-data-leaks-by-stripping-path-information-in-http-referrers/

Are you by chance using a private window when you test in FF?

[2018-05-31 17:01] moui72 commented on #125
sounds good

[2018-05-31 17:02] moui72 commented on #124
I think this looks good. @jennaspevack want to have a say before I close?

[2018-05-31 17:22] bree-z commented on #111
Thanks for bearing with me and my Firefox privacy settings!  That appears to have done the trick!  I just posted a question with all the correct Course and Section info.

[2018-05-31 17:44] bree-z commented on #122
Thanks, Boone.  Image uploads are working again, but I still can't alt text on mobile.  I tried clearing my cache and still see the same thing.

![img_7154](https://user-images.githubusercontent.com/7189824/40798031-b5619574-6512-11e8-8897-e9de68f39557.PNG)

[2018-05-31 17:49] boonebgorges commented on #111
Got it. I think this means that no further action is needed - if this is only something that crops up in private mode, I don't think we need to spend the time to work around it. (For the record, I don't have a clear sense of what the workarounds would be.)

[2018-05-31 17:55] boonebgorges commented on #122
Working for me on various mobile devices.

My suspicion is that you haven't really cleared your cache. It would be Applesque to have a "clear cache" button that doesn't really do what it advertises, "for the good of the user".

@moui72 Can you break the tie please?

[2018-06-01 07:34] bree-z commented on #113
This is populating correctly now, thanks!  I can't test the chronological descending section order, but all other filter functionality is working.  I've made a note to be sure to check this out in post-release testing.

[2018-06-01 07:34] #113 closed

[2018-06-01 07:39] bree-z commented on #126
This looks good to me, thanks!  Not sure if that means we can close this.

[2018-06-01 07:47] bree-z commented on #123
This looks good to me, but I won't close this in case @jennaspevack wants to take a look.

[2018-06-01 07:49] bree-z commented on #109
Yes, that's how I remember these discussions.  @jennaspevack does that make sense to you?  Thanks!

[2018-06-01 13:45] moui72 commented on #122
I'd like to but I'm not able to use the file selector. Probably it's a sticky cached file. I'll try again in a bit.

Android >7, chrome >66

[2018-06-01 15:14] bree-z opened #127 "Filter results: "No results found" overlaps with question metadata"
When a search returns "No results found", the text overlaps with the question metadata.

<img width="823" alt="noresultsoverlap" src="https://user-images.githubusercontent.com/7189824/40842633-307cb8ca-65b7-11e8-988b-20066aae57ce.png">

[2018-06-01 17:54] boonebgorges commented on #127
Thanks for the ticket! This resists a "proper" fix, where the header expands to fit the contents, because of some inner architectural issues (the 'Most Recent' dropdown is part of the "results" element, and so must move with it, so moving that whole thing down in the document has the result of putting the dropdown in a weird place). As a workaround, I've added a healthy padding to the top of the N

[2018-06-01 18:28] boonebgorges commented on #124
Thanks, gang :)

[2018-06-01 18:28] #124 closed

[2018-06-01 18:29] boonebgorges commented on #123
:+1:

[2018-06-01 18:29] #123 closed

[2018-06-01 18:34] jennaspevack commented on #109
Yep, that's correct.

[2018-06-01 18:38] jennaspevack commented on #118
Looks great! Sorry for the delay.

[2018-06-01 18:49] boonebgorges commented on #109
Awesome - I think we are ready to close this one, then. (alt should be less of an issue moving forward, thanks to #118)

[2018-06-01 18:49] #109 closed

[2018-06-01 18:50] boonebgorges commented on #118
Great, thanks! There may still be some weirdness on mobile, but we are addressing in #122, so I think this can be closed.

[2018-06-01 18:50] #118 closed

[2018-06-01 18:51] boonebgorges commented on #126
Jenna signed off on the broader design question in #123, so I think we can close here. Thank you!

[2018-06-01 18:51] #126 closed

[2018-06-01 18:53] boonebgorges commented on #117
My recollection of the functionality conversation was that we were going to ease into this feature for the time being - nudging but not forcing. As such, I'm tentatively closing this ticket, with a note for @drdrew42 and others that we should assess after the next term whether the nudge is sufficient, or whether we should be more forceful.

[2018-06-01 18:53] #117 closed

[2018-06-01 18:53] boonebgorges commented on #107
Awesome - let's close and handle more specific issues as they come up.

[2018-06-01 18:53] #107 closed

[2018-06-01 19:15] jennaspevack commented on #125
I'm not sure if I'm seeing the changes Tyler suggested. SM still looks wonky to me.

I find the SM _and_ MD to be wonky and would prefer to see the filters moved to the search dropdown for under, say 900px(?) But I'd need to think on this a bit more. :)

One thing I am seeing is that the Most Recent dropdown is hiding the Questions and Replies heading.
![image](https://user-images.githubuserconten

[2018-06-01 20:02] boonebgorges commented on #125
I didn't make the changes in the repo, so you can't see them on openlabdev.org. I just made them locally for the purposes of screenshots. What you see in the screenshot is just a couple lines' change in the stylesheet, so it's doable for now from a technical point of view, but I didn't want to go ahead with it because I was afraid it'd trigger a wholesale review of the breakpoint, which we can't d

[2018-06-01 23:48] boonebgorges commented on #109
Thanks, @jennaspevack. I've made two changes:

- on mobile (hamburger), links are `#fff`
- on non-mobile, menu links are underlined on hover

I'll leave the ticket closed, but please reopen or report elsewhere if things need more adjustment.

[2018-06-02 10:12] bree-z commented on #127
Thanks, Boone!  Looks good on desktop and mobile.

[2018-06-02 10:12] #127 closed

[2018-06-02 10:18] bree-z commented on #122
I tried again with no luck.  :(

[2018-06-02 12:30] boonebgorges commented on #122
Hm, not sure what to do. I can't fix something that I can't reproduce. Bree, do you have another device you could test with, to see if it's tied to your phone?

[2018-06-03 07:12] bree-z commented on #122
I tested on an Android, and it worked, with a few glitches that may have been the fault of the phone.  When I used an existing pic, it seemed OK, but didn't work if I took a new photo.  Here's what happened:

- I uploaded a new image that I took on the camera and didn't see anywhere to add alt text; I saw the same thing I did on the iPhone.
- I tried to take a screenshot, which failed but ended up

[2018-06-03 13:00] boonebgorges commented on #122
Hm. The fact that it worked after a phone restart helps to bolster the hypothesis that it's cache related.

The crash-on-screenshot is a phone issue, I guess. The neverending-spinner issue in your second photo is probably a network latency issue, though it's not possible to tell without debugging info (which I have no idea how to collect on an actual phone).

I've done some pretty extensive testin

[2018-06-03 16:06] bree-z commented on #122
Thanks, Boone.  Sorry I couldn't add more certainty!  I did try one last thing, which was to download Chrome on my Bulgarian iPhone and try with a fresh version of Chrome.  I did this on my US iPhone (and tried to clear the cache twice) and it didn't work.  And, on my Bulgarian phone it also didn't work.  I still don't see any alt text fields.

Just wondering whether @moui72 @jennaspevack and @drd

[2018-06-03 16:56] boonebgorges commented on #122
Thanks, @bree-z. To be clear about "I still don't see any alt text fields":

*What you should see* - When you have selected an image - the box at the upper right is checked and it's highlighted in blue - the right-hand "drawer" that has image data (Title, Alt Text, etc) should appear.

*What Bree sees* - The image is selected, but the "drawer" does not appear. https://github.com/livinglab/webwork-

[2018-06-03 17:08] boonebgorges commented on #122
@bree-z One more thing - if you are able, you could try setting this up https://stackoverflow.com/questions/7242997/is-there-a-way-to-debug-javascript-in-the-iphone-ios-safari-browser to see if you detect any relevant JS errors.

[2018-06-03 23:43] drdrew42 commented on #122
well, I'm not being properly redirected now when I use the "Ask for Help" button - I'm not getting a new tab, and I'm not being presented with the opportunity to ask a question... is "http://user:pass@openlabdev.org/webwork-playground/?webwork=1" the right URL still?

I'm also not getting the drawer when I upload a photo (either new photo or from the photos already on my phone...)

[2018-06-04 00:10] boonebgorges commented on #122
Yes, with the correct `user` and `pass` swapped in.

Can you please tell me exactly what you see, or provide a screenshot? After uploading, does it switch to the My Uploaded Files tab? When that happens, does the newly uploaded photo appear as "highlighted" (outlined in blue, with a check in the upper right)?

[2018-06-04 01:02] drdrew42 commented on #122
Okay, so steps followed:
* type in question
* click on add photo for "what I tried"
* under upload image, I selected "take photo"
* photo uploaded, surrounded by blue outline, with a checkmark, I was placed on My Uploaded Files tab automatically
* I tried to hit Insert, but received "you must supply alt text"
* no indication anywhere of where to supply alt text
* went back to Upload Files
* select

[2018-06-04 01:04] drdrew42 commented on #122
![d9fec636-d0ab-4043-b4e2-77870ce36f68](https://user-images.githubusercontent.com/3912882/40893730-bd832ca2-6771-11e8-8857-598cf51df126.png)

Screenshot

[2018-06-04 01:08] drdrew42 commented on #122
With the debug added, now I have successfully added alt-text when uploading a freshly-taken photo with my phone camera.

[2018-06-04 08:34] bree-z opened #128 "iOS/Safari: WeBWorK-Dev doesn't send any identifying information"
Sorry, for not catching this earlier.  I tested this in Chrome and thought I'd tested in Safari too.  In Chrome (iOS) it's working fine, but in Safari there's no user or question information sent from WW-Dev:

- In WW-Dev, I click 'Ask for Help', e.g.: http://mathww.citytech.cuny.edu/webwork2/WW-Dev/CoordinatePlaneTrig/3/?effectiveUser=student1&key=fdKoIiTsxNByq2LgwQPk3aARbF32ZmRq&user=student1
-

[2018-06-04 12:37] boonebgorges commented on #122
Thanks for the details, @drdrew42

I did a small amount of rearranging when adding the debug code that might have resulted in the change. @bree-z could you please have (yet) another look?

[2018-06-04 13:43] boonebgorges commented on #128
Thanks, Bree. There are two issues here, both of which are tracked in #80.

1. On openlabdev.org, POST data doesn't come through the Ask for Help chain. This appears to be related to the HTTP authentication requirements on openlabdev.org. This means that course, problem set, etc is not received by WP.

2. Safari doesn't natively retain the URL fragment (the portion after `#`) in redirects. I built

[2018-06-04 15:41] bree-z commented on #122
Just tested, and I still see the drawer and can add alt text!

[2018-06-04 16:47] boonebgorges commented on #122
Thanks, @bree-z. I'm going to close this ticket in the hopes that we never have to think of it again.

[2018-06-04 16:47] #122 closed

[2018-08-01 23:18] jennaspevack commented on #125
Sorry, @boonebgorges- I missed this. If it's not too late, it could just go above the the header.

[2018-08-02 14:35] boonebgorges commented on #125
Sounds good. I've made the change at these medium widths. This will have to suffice for now, until we have a full review of breakpoints.

![screenshot_2018-08-02_09-34-13](https://user-images.githubusercontent.com/246627/43590767-683ecf0e-9637-11e8-8fbe-07a2d777c4f3.png)